<form class="pagefont" [formGroup]="categoryForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/layout">
                    <mat-icon>home</mat-icon>&nbsp;Home
                </li>
                <li class="breadcrumb-item" routerLink="/master/category">Category</li>
            </ol>
        </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
        <div class=" container titles  ">
            <br>
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Category Master</b></h4>
                </div>
            </div>
            <br>
            <!-- <hr class="hrstyle"> -->
            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="categoryForm">
                        <mat-label class="">Category Name</mat-label>
                        <input matInput placeholder="Category Name" onkeypress='return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 ||event.charCode>=48 && event.charCode <=57'  [(ngModel)]="categoryModel.categoryName" formControlName="categoryName">
                        <mat-error
                            *ngIf="categoryForm.get('categoryName').hasError('required') && categoryForm.get('categoryName').touched">
                            Category Name is required</mat-error>
                        <!-- <mat-error
                            *ngIf="categoryForm.get('categoryName').hasError('pattern') && categoryForm.get('categoryName').touched">
                            Only characters are allowed</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="categoryForm">
                        <mat-label>Status</mat-label> 
                        <mat-select matInput  [(ngModel)]="categoryModel.categoryStatus" formControlName="categoryStatus"  >
                            <mat-option >Select Status</mat-option>
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Inactive">Inactive</mat-option>
    
                        </mat-select>
                        <mat-error  *ngIf="categoryForm.get('categoryStatus').hasError('required') && categoryForm.get('categoryStatus').touched">
                        Status is required</mat-error>
                    </mat-form-field>


                </div>

            </div>
            



            <div class="row">
                <div class=" col-md-5"></div>
                <div class="form-group col-md-2 submitbuttons ">
                    <button type="submit" class="btn btn-primary   buttons" [disabled]="!categoryForm.valid" (click)="addCategory()">Submit</button>

                </div>
                <!-- <div class="form-group col-md-2 submitbuttons">
                    <button  type="submit"  class="btn btn-danger  buttons">Cancel</button> 
                   
                </div> -->
                <div class=" col-md-4"></div>

            </div>

            <br>

        </div>
    </mat-card>
    <mat-card class=" matcard ">
        <div class="row">
            <div class="col-md-4">
                      <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label >Search</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="Category Name" #input>
                    </mat-form-field>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-5"></div>
                <div class="col-md-7 form-group">
                    <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
                    ><i class="fa fa-file-excel-o"
                    aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
                    </button>
                    </div>
              </div>
        <div class="row">
            <div class="table-responsive" #epltable>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles">

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="countryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                </ng-container>

              
                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element">  <button type="button" class="btn btn-dark" title="Edit Rolemaster"
                        (click)=" getCategoryById(element)">
                        <i class="fa fa-pencil-square-o"></i>
                </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
            </mat-paginator> -->
        </div>
    </mat-card>
</form>