<form class="pagefont" [formGroup]=" cashierReportForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/layout">
    <mat-icon>home</mat-icon>&nbsp;Home
    </li>
    <li class="breadcrumb-item" routerLink="/report/cashierreport">Cashier Report</li>
    </ol>
    </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
    <div class=" container titles ">
    <br>
    <div class="row">
    <div class="col-md 12 ">
    <h4 class="heading"><b>Cashier Report</b></h4>
    </div>
    </div>
    <br>
    <!-- <hr class="hrstyle"> -->
    <div class="row">
    
    <div class="form-group col-md-3 ">
    <mat-form-field class="example-full-width " appearance="outline">
    <mat-label>From Date</mat-label>
    <input matInput [matDatepicker]="fromdate" formControlName="fromDate" [(ngModel)]="cashierReport.fromDate" [formGroup]="cashierReportForm
    " >
    <mat-datepicker-toggle matSuffix [for]="fromdate" required></mat-datepicker-toggle>
    <mat-datepicker #fromdate></mat-datepicker>
    <mat-error *ngIf="cashierReportForm.get('fromDate').hasError('required') && cashierReportForm.get('fromDate').touched">
    Date is required</mat-error>
    </mat-form-field>
    
    </div>
    <div class="form-group col-md-3 ">
    <mat-form-field class="example-full-width " appearance="outline">
    <mat-label>To Date</mat-label>
    <input matInput [matDatepicker]="toDate" formControlName="toDate" [(ngModel)]="cashierReport.toDate"
    [formGroup]="cashierReportForm" >
    <mat-datepicker-toggle matSuffix [for]="toDate" required></mat-datepicker-toggle>
    <mat-datepicker #toDate></mat-datepicker>
    <mat-error *ngIf="cashierReportForm.get('toDate').hasError('required') && cashierReportForm.get('toDate').touched">
    Date is required</mat-error>
    </mat-form-field>
    
    </div>
    
    <div class="form-group col-md-3">
    
    
    
    
    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="cashierReportForm">
    <mat-label>Select PayType</mat-label>
    <mat-select matInput [(ngModel)]="cashierReport.payType" formControlName="payType">
    <mat-option >Select PayType</mat-option>
    <mat-option value="Cash">Cash</mat-option>
    <mat-option value="Credit Card">Credit Card</mat-option>
    <mat-option value="Debit Card">Debit Card</mat-option>
    <mat-option value="UPI">UPI</mat-option>
    <mat-option value="Sodexo">Sodexo</mat-option>
    
    
    </mat-select>
    <mat-error
    *ngIf="cashierReportForm.get('payType').hasError('required') && cashierReportForm.get('payType').touched">
    Payment Type is required</mat-error>
    </mat-form-field>
    </div>
    
    
    <div class="form-group col-md-3 ">
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Search Cashier</mat-label>
    <input matInput placeholder="Cashier Name" [(ngModel)]="cashierReport.fullName" formControlName="fullName" [matAutocomplete]="auto1"
    >
    <mat-autocomplete #auto1="matAutocomplete">
    
    <mat-option *ngFor="let data of fullNameList" [value]="data.fullName" (click)="setEmployeeId(data)">
    {{data.fullName}}
    </mat-option>
    </mat-autocomplete>
    </mat-form-field>
    
    
    </div>
    <!-- <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Search Cashier Name</mat-label>
    <input matInput placeholder="Enter Cashier Name" [(ngModel)]="cashierReport.fullName" formControlName="fullName" [matAutocomplete]="auto"
    (keydown)="getNameByFullName(cashierReport.fullName)">
    
    <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let data1 of fullNameList" [value]="data1.fullName"
    (click)="setName(data1)">
    {{data1.fullName}}
    </mat-option>
    </mat-autocomplete>
    </mat-form-field> -->
    
    
    
    </div>
    
    
    
    
    <div class="row">
    <div class=" col-md-5"></div>
    <div class="form-group col-md-2 submitbuttons ">
    <button type="submit" class="btn btn-primary buttons" [disabled]="!(cashierReport.fromDate && cashierReport.toDate)" (click)="getFilterByfromdatetodate()">Submit</button>
    
    </div>
    
    <div class=" col-md-4"></div>
    
    </div>
    
    <br>
    
    </div>
    </mat-card>
    
    <mat-card class=" matcard ">
    <!-- <div class="row">
    <div class="col-md-4">
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Cashier Name" #input>
    </mat-form-field>
    </div>
    </div> -->
    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>
    <div class="row">
        <div class="table-responsive" #epltable>    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles">
    
    <!-- Position Column -->
    <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="cashier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cashier Name </th>
    <td mat-cell *matCellDef="let element"> {{element.cashier}} </td>
    </ng-container>
    
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="invoiceDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.invoiceDate| date:'dd-MM-yyyy'}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="payType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Type </th>
    <td mat-cell *matCellDef="let element">&nbsp; {{element.payType}} </td>
    </ng-container>
    
    
    
    
    
    
    
    
    <ng-container matColumnDef="saleType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Type </th>
    <td mat-cell *matCellDef="let element"> {{element.saleType}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="invoiceNo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number </th>
    <td mat-cell *matCellDef="let element"> {{element.invoiceNo}} </td>
    </ng-container>
    
    <!-- <ng-container matColumnDef="totalItems">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Items </th>
    <td mat-cell *matCellDef="let element"> &nbsp; {{element.totalItems}} </td>
    </ng-container> -->
    
    
    
    
    <ng-container matColumnDef="totalQuantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.totalQuantity}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="totalMrp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Mrp </th>
    <td mat-cell *matCellDef="let element"> {{element.totalMrp}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="totalRate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
    <td mat-cell *matCellDef="let element"> {{element.totalRate}} </td>
    </ng-container>
    
    <ng-container matColumnDef="totalFinalAmt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total FinalAmt </th>
    <td mat-cell *matCellDef="let element"> {{element.totalFinalAmt}} </td>
    </ng-container>
    
    <!-- <ng-container matColumnDef="youSave">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> You Save </th>
    <td mat-cell *matCellDef="let element"> {{element.youSave}} </td>
    </ng-container> -->
    
    
    <!--
    <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-dark" title="Edit Rolemaster"
    (click)=" getCategoryById(element)">
    <i class="fa fa-pencil-square-o"></i>
    </button></td>
    </ng-container> -->
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
    </mat-paginator> -->
    </div>
    </mat-card>
    
    
    </form>