<div class="container-fluid">
    <div class="row">
        <div class="card col-md-5 col-sm-7 col-lg-4 mt-sm-5 ml-sm-5" style="padding: 0px;">
            <div class="card-header">
                <h1 style="text-align: center">Login</h1>
            </div>
            <div class="card-body">
                <form name="loginForm" #loginForm="ngForm" autocomplete="off">
                    <!-- .fieldset -->
                    <fieldset>
                        <!-- .form-group -->
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" required #UserName="ngModel" pattern="[a-zA-Z\s]*"
                                [(ngModel)]="user.UserName" class="form-control" name="UserName">

                        </div>
                        <div *ngIf="UserName.invalid&&(UserName.dirty||submitted)" class="validation-error">
                            <div [hidden]="!UserName.hasError('required')">UserName is required</div>
                            <div [hidden]="!UserName.hasError('pattern')">Only alphabets allowed</div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" [(ngModel)]="user.Password" required #Password="ngModel"
                                maxlength="16" minlength="8" class="form-control" name="password">

                        </div>
                        <div *ngIf="Password.invalid&&(Password.dirty||submitted)" class="validation-error">
                            <div [hidden]="!Password.hasError('required')">Password is required</div>
                            <div [hidden]="!Password.hasError('minlength')">Password should be 8 characters</div>
                        </div>
                        <div class="form-actions text-center">


                            <button class="btn btn-success " routerLink="/layout"  type="submit">
                                Login
                            </button>
                            <button class="btn btn-primary" routerLink="/registration">Registration</button>
                        </div>

                    </fieldset><!-- /.fieldset -->
                </form><!-- /.form -->
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>