<form class="pagefont" [formGroup]="totalamountReportForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/layout">
    <mat-icon>home</mat-icon>&nbsp;Home
    </li>
    <li class="breadcrumb-item" routerLink="/report/totalamountReportForm">Stock Value Report</li>
    </ol>
    </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
    <div class=" container titles ">
    <br>
    <div class="row">
    <div class="col-md 12 ">
    <h4 class="heading"><b>Stock Value Report</b></h4>
    </div>
    </div>
    <br>
    <!-- <hr class="hrstyle"> -->
    <div class="row">
    
    <div class="form-group col-md-3 ">
    
    <!-- <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Select Category</mat-label>
    <input matInput placeholder="Select Category" [(ngModel)]="reporttotal.categoryName" formControlName="categoryName" [matAutocomplete]="auto">
    
    <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let data1 of categoryActiveList" [value]="data1.categoryName"
    (click)="setName(data1)" >
    {{data1.categoryName}}
    </mat-option>
    </mat-autocomplete>
    </mat-form-field> -->
    
    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="totalamountReportForm" >
    <mat-label>Category</mat-label>
    <mat-select matInput [(ngModel)]="reporttotal.categoryId" formControlName="categoryId">
    <mat-option>Select Category</mat-option>
    <mat-option *ngFor="let category of categoryActiveList" [value]="category.categoryId
    "(click)="getActiveSubCategory(category)">
    {{category.categoryName}}</mat-option>
    </mat-select>
    <mat-error
    *ngIf="totalamountReportForm.get('categoryId').hasError('required') && totalamountReportForm.get('categoryId').touched">
    Category Name is required</mat-error>
    </mat-form-field>
    
    
    </div>
    
    
    
    <div class="form-group col-md-3">
    
    
    
    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="totalamountReportForm" >
    <mat-label>SubCategory</mat-label>
    <mat-select matInput [(ngModel)]="reporttotal.scId" formControlName="scId">
    <mat-option>Select subcategoryName</mat-option>
    <mat-option *ngFor="let category of subCategoryActiveList" [value]="category.scId
    ">
    {{category.subcategoryName}}</mat-option>
    </mat-select>
    <mat-error
    *ngIf="totalamountReportForm.get('scId').hasError('required') && totalamountReportForm.get('scId').touched">
    Sub Category Name is required</mat-error>
    </mat-form-field>
    <!-- <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Select subcategoryName</mat-label>
    <input matInput placeholder="Select subcategoryName" [(ngModel)]="reporttotal.subcategoryName" formControlName="subcategoryName" [matAutocomplete]="auto">
    
    <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let data2 of subCategoryActiveList" [value]="data2.subcategoryName"
    (click)="setName1(data2)">
    {{data2.subcategoryName}}
    </mat-option>
    </mat-autocomplete>
    </mat-form-field> -->
    </div>
    
    
    
    
    
    <div class="form-group col-md-3">
    
    
    
    <!-- <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Select brandName</mat-label>
    <input matInput placeholder="Select brandName" [(ngModel)]="reporttotal.brandName" formControlName="brandName" [matAutocomplete]="auto">
    
    <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let data3 of brandNameList" [value]="data3.brandName" (click)="setName2(data3)">
    {{data3.brandName}}
    </mat-option>
    </mat-autocomplete>
    </mat-form-field> -->
    
    
    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="totalamountReportForm" >
    <mat-label>Brand Name</mat-label>
    <mat-select matInput [(ngModel)]="reporttotal.brandId" formControlName="brandId">
    <mat-option>Select brandName</mat-option>
    <mat-option *ngFor="let brand of brandNameList" [value]="brand.brandId
    "(click)="getActiveProduct(brand)">
    {{brand.brandName}}</mat-option>
    </mat-select>
    <mat-error
    *ngIf="totalamountReportForm.get('brandId').hasError('required') && totalamountReportForm.get('brandId').touched">
    Brand Name is required</mat-error>
    </mat-form-field>
    </div>
    
    <div class="form-group col-md-3">
    
    
    
    <!-- <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Select brandName</mat-label>
    <input matInput placeholder="Select brandName" [(ngModel)]="reporttotal.brandName" formControlName="brandName" [matAutocomplete]="auto">
    
    <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let data3 of brandNameList" [value]="data3.brandName" (click)="setName2(data3)">
    {{data3.brandName}}
    </mat-option>
    </mat-autocomplete>
    </mat-form-field> -->
    
    
    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="totalamountReportForm" >
    <mat-label>Product Name</mat-label>
    <mat-select matInput [(ngModel)]="reporttotal.productId" formControlName="productId">
    <mat-option>Select Product</mat-option>
    <mat-option *ngFor="let product of productList" [value]="product.productId
    ">
    {{product.productName}}</mat-option>
    </mat-select>
    <mat-error
    *ngIf="totalamountReportForm.get('productId').hasError('required') && totalamountReportForm.get('productId').touched">
    Product Name is required</mat-error>
    </mat-form-field>
    </div>
    
    
    </div>
    
    
    
    
    <div class="row">
    <div class=" col-md-5"></div>
    <div class="form-group col-md-2 submitbuttons ">
    <button type="submit" class="btn btn-primary buttons" (click)="getlist()">Submit</button>
    
    </div>
    
    <div class=" col-md-4"></div>
    
    </div>
    
    <br>
    
    </div>
    </mat-card>
    
    <mat-card class=" matcard ">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
    <mat-card class="mt1">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
    <div class="icon-big text-center icon-warning">
    
    <!-- <i class="material-icons text-info">language </i> -->
    <i class="material-icons text-danger">layers</i>
    
    </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">Total MRP</p>
    <p class="card-title"><i class="fas fa-rupee-sign"> {{reporttotal.totalofMRP}}</i>
    <p>
    </div>
    </div>
    </div>
    </div>
    
    </mat-card>
    </div>
   
    <div class="col-lg-3 col-md-3 col-sm-6">
    <mat-card class="mt1">
    <div class="card-body ">
    <div class="row">
    <div class="col-4 col-md-4">
    <div class="icon-big text-center icon-warning">
    <i class="material-icons text-danger">layers</i>
    </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">Total Retail</p>
    <p class="card-title"><i class="fas fa-rupee-sign"> {{reporttotal.totalofRetail}}</i>
    <p>
    </div>
    </div>
    </div>
    </div>
    
    </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <mat-card class="mt">
        <div class="card-body ">
        <div class="row">
        <div class="col-4 col-md-3">
        <div class="icon-big text-center icon-warning">
        <!-- <i class="material-icons text-success">local_printshop </i> -->
        <i class="material-icons text-danger">layers</i>
        </div>
        </div>
        <div class="col-9 col-md-9">
        <div class="numbers">
        <p class="card-category">Total Wholesale</p>
        <p class="card-title"><i class="fas fa-rupee-sign">{{reporttotal.totalofWholeSale}}</i>
        <p>
        </div>
        </div>
        </div>
        </div>
        
        </mat-card>
        </div>

    <div class="col-lg-3 col-md-3 col-sm-6">
        <mat-card class="mt1">
        <div class="card-body ">
        <div class="row">
        <div class="col-4 col-md-4">
        <div class="icon-big text-center icon-warning">
        <i class="material-icons text-danger">layers</i>
        </div>
        </div>
        <div class="col-7 col-md-8">
        <div class="numbers">
        <p class="card-category">Total Purchase</p>
        <p class="card-title"><i class="fas fa-rupee-sign"> {{reporttotal.totalPurchase}}</i>
        <p>
        </div>
        </div>
        </div>
        </div>
        
        </mat-card>
        </div>
    
    </div>
    
    
    
    <!-- <div class="row">
    
    <div class="col-md-4">
    <mat-card class=" matcard mycrd">
    <div class="row">
    <b>Total MRP</b>
    </div>
    <div class="row">
    {{reporttotal.totalofMRP}}
    </div>
    
    </mat-card>
    </div>
    
    <div class="col-md-4">
    
    <mat-card class=" matcard mycrd">
    <div class="row">
    <b>Total Wholesale</b>
    </div>
    <div class="row">
    {{reporttotal.totalofWholeSale}}
    </div>
    
    </mat-card>
    
    </div>
    
    <div class="col-md-4">
    <mat-card class=" matcard mycrd" >
    <div class="row">
    <b>Total Retail</b>
    </div>
    <div class="row">
    {{reporttotal.totalofRetail}}
    </div>
    
    </mat-card>
    
    </div>
    
    </div> -->
    
    
    </mat-card>
    
    </form>