<form class="pagefont" [formGroup]="stockHistoryForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/layout">
    <mat-icon>home</mat-icon>&nbsp;Home
    </li>
    <li class="breadcrumb-item" routerLink="/master/stockhistory">Stock History</li>
    </ol>
    </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
    <div class=" container titles ">
    <br>
    <div class="row">
    <div class="col-md 12 ">
    <h4 class="heading"><b>Stock History</b></h4>
    </div>
    </div>
    <br>
    <!-- <hr class="hrstyle"> -->
    <div class="row">
    
    
    <!-- <div class="form-group col-md-4">
    <mat-form-field class="example-full-width " [formGroup]="stockHistoryForm" appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="recordDate"
    [(ngModel)]="stockHistoryModel.recordDate" (blur)="getStockHistoryRecords()" >
    <mat-datepicker-toggle matSuffix [for]="picker" required></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error
    *ngIf="stockHistoryForm.get('recordDate').hasError('required') && stockHistoryForm.get('recordDate').touched">
    Date is required</mat-error>
    </div> -->
    
    <div class="form-group col-md-4 ">
    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="stockHistoryForm" >
    <mat-label class="">Date</mat-label>
    <input matInput placeholder="Date" type="date" [(ngModel)]="stockHistoryModel.recordDate"
    formControlName="recordDate" (change)="getStockHistoryRecords()" min="1900-01-01" max="{{maxdate}}" onkeypress="return event.keyCode != 13;">
    <mat-error
    *ngIf="stockHistoryForm.get('recordDate').hasError('required') && stockHistoryForm.get('recordDate').touched">
    Date is required</mat-error>
    <mat-error
    *ngIf="stockHistoryForm.get('recordDate').hasError('pattern') && stockHistoryForm.get('recordDate').touched">
    Only characters are allowed</mat-error>
    </mat-form-field>
    </div>
    
    <div class="col-md-4">
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Search</mat-label>
    <input matInput (blur)="applyFilter($event)" placeholder="Product Name" #input onkeypress="return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 || event.keyCode != 13;">
    </mat-form-field>
    </div>
    
    <!-- <div class="form-group col-md-3 ">
    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="stockHistoryForm" >
    <mat-label>Status</mat-label>
    <mat-select matInput [(ngModel)]="stockHistoryModel.status" formControlName="status">
    <mat-option>Select Status</mat-option>
    <mat-option value="Added">Added</mat-option>
    <mat-option value="Notadded">Notadded</mat-option>
    
    </mat-select>
    <mat-error
    *ngIf="stockHistoryForm.get('status').hasError('required') && stockHistoryForm.get('status').touched">
    Status is required</mat-error>
    </mat-form-field>
    
    </div> -->
    
    </div>
    
    </div>
    
    <!-- <div class="row">
    <div class=" col-md-5"></div>
    <div class="form-group col-md-2 submitbuttons ">
    <button type="submit" class="btn btn-primary buttons" [disabled]="!stockHistoryForm.valid" (click)="addStockDetails()">Submit</button>
    
    </div>
    
    <div class=" col-md-4"></div>
    
    </div> -->
    
    <br>
    
    </mat-card>
    
    
    <mat-card class=" matcard ">
    <!-- <div class="row">
    
    </div> -->
    <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7 form-group">
    <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
    ><i class="fa fa-file-excel-o"
    aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
    </button>
    </div>
    </div>
    <div class="row">
    <div class="table-responsive" #epltable>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles" >
    
    <!-- Position Column -->
    <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
    </ng-container>
    
    <!-- category Column -->
    <ng-container matColumnDef="categoryname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
    
    <!-- brand Column -->
    <ng-container matColumnDef="brandname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.recordDate| date:'dd-MM-yyyy'}} </td>
    </ng-container>
    
    <!-- opening stock Column -->
    <ng-container matColumnDef="opening">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opening Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.openingStock}} </td>
    </ng-container>
    
    <!-- closing stock Column -->
    <ng-container matColumnDef="closing">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Closing Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.closingStock}} </td>
    </ng-container>
    
    <!-- current stock Column -->
    <ng-container matColumnDef="current">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Added Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.addedStock}} </td>
    </ng-container>
    
    
    <!-- <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container> -->
    <!--
    <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-dark"
    title="Edit Rolemaster" (click)=" getProductById(element)">
    <i class="fa fa-pencil-square-o"></i>
    </button></td>
    </ng-container> -->
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
    </mat-paginator> -->
    </div>
    </mat-card>
    </form>