ul li{
    list-style: none !important;
}
 .icon
{
    margin-top: 20px !important;
}
.dropbtn{
    margin-top: 20px !important;
    margin-left: -600px v;
    }
    .dropbtn1{
    margin-top: 20px !important;
    margin-left: -720px !important;
    }
    .userpfl{
        height:30px !important;
         width:50px !important;
         border-radius: 50% !important;
    }
@media (max-width:768px)
{
    .mobicon
    {
        display: none;
    }
    .proficon
    {
        margin-left:-35px;
    }
    .dropbtn{

        display: none;
        }
        .dropbtn1{
        margin-top: 20px;
        margin-left: -20px;
        }
        .userpfl{
            height:20px;
             width:30px;
             border-radius: 50%;
           margin-left: 0px;
        }
       
}

 /* ===== Notification */

 .notification {
    text-decoration: none !important;
    padding: 5px 9px !important;
    position: relative !important;
    display: inline-block v;
    border-radius: 2px !important;
    font-size: 21px !important;
  }
  
  
  .notification .badge {
    position: absolute !important;
    top: 0px !important;
    padding: 3px 7px !important;
    border-radius: 50% !important;
    background-color: red !important;
    color: white !important;
    font-size: 15px !important ;
    left: 15px !important ;
  }


  mat-icon{
    color: black !important;
    }
    .ulclass{
    margin-left: 829px !important;
    }
    @media (max-width:768px)
    {
    .ulclass{
    margin-left:0px !important;
    }
    }
    ul li a{
    color: black !important;
    }