<nav class="navbar navbar-expand-sm" style="background-color:#64B5F6;">
  <div class="container-fluid">
  <div class="navbar-header">
  <button mat-icon-button (click)="toggleSideBar()">
  <mat-icon>menu</mat-icon>
  </button>
  <span><b style="color: black !important;">Nana Mart</b></span>
  </div>
  <ul class="nav navbar-nav navbar-right ulclass">
  <li class="mr-3 nav-item">
  <a class="nav-link">Welcome,{{fullName}} </a>
  </li>
  <li class="nav-item mr-3">
  <a routerLink="/layout/notifyminstock" class="notification nav-link" data-toggle="tooltip" data-placement="bottom" title="Low Stock Count!">
  
  <i class="fas fa-bell"></i>
  <span class="badge">{{cnt}}</span>
  </a>
  </li>
  <li class="nav-item">
  <a class=" nav-link" routerLink="/login/loginpage" data-toggle="tooltip" data-placement="bottom" title="Logout!">
  <i class="fas fa-sign-out-alt" style="font-size: 21px;color: black;"></i>
  </a>
  </li>
  
  </ul>
  </div>
  </nav>