<form class="pagefont" [formGroup]="employeeForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/layout">
                    <mat-icon>home</mat-icon>&nbsp;Home
                </li>
                <li class="breadcrumb-item" routerLink="/master/employee">Employee Registration</li>
            </ol>
        </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
        <div class=" container titles  ">
            <br>
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Employee Registration</b></h4>
                </div>
            </div>
            <br>
            <!-- <hr class="hrstyle"> -->
            

            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">Full Name</mat-label>
                        <input matInput placeholder="Enter Full Name" [(ngModel)]="employeeModel.fullName"
                            formControlName="fullName"onkeypress='return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 || event.charCode==32'>
                        <mat-error
                            *ngIf="employeeForm.get('fullName').hasError('required') && employeeForm.get('fullName').touched">
                            Full Name is required</mat-error>
                        <mat-error
                            *ngIf="employeeForm.get('fullName').hasError('pattern') && employeeForm.get('fullName').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">Mobile Number</mat-label>
                        <input matInput placeholder="Mobile Number" [(ngModel)]="employeeModel.mobileNumber"
                            formControlName="mobileNumber" minlength="10" maxlength="10" onkeypress='return event.charCode>=48 && event.charCode <=57' (keyup)="checkMobileNumber(employeeModel.mobileNumber)" (keydown.Tab)="checkMobileNumber(employeeModel.mobileNumber)">                       
                            <mat-error style="float: right;"
                            *ngIf="employeeForm.get('mobileNumber').hasError('required') && employeeForm.get('mobileNumber').touched">
                            Mobile Number is required</mat-error>
                        <mat-error style="float: right;"
                            *ngIf="employeeForm.get('mobileNumber').hasError('pattern') && employeeForm.get('mobileNumber').touched">
                            Only Numbers are allowed</mat-error>
                    </mat-form-field>
                    <div [style.color]="textColorMobile" class="errormsg">{{mobileMsg}}</div>

                </div>
                
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">Email Address</mat-label>
                        <input matInput placeholder="Email Address" [(ngModel)]="employeeModel.empMailAddress"
                            formControlName="empMailAddress" (keyup)="checkMail()" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                        <mat-error style="float: right;"
                            *ngIf="employeeForm.get('empMailAddress').hasError('required') && employeeForm.get('empMailAddress').touched">
                            Email Address is required</mat-error>
                        <mat-error style="float: right;"
                            *ngIf="employeeForm.get('empMailAddress').hasError('pattern') && employeeForm.get('empMailAddress').touched">
                            Enter Valid email address</mat-error>
                    </mat-form-field>
                    <div [style.color]="textColorEmail" class="errormsg">{{mailMsg}}</div>

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">Password</mat-label>
                        <!-- <input matInput placeholder="Password" [(ngModel)]="employeeModel.empPassword"
                            formControlName="empPassword"> -->
                            <!-- <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="employeeModel.empPassword" formControlName="empPassword" placeholder="Enter password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button> -->
                            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="employeeModel.empPassword" formControlName="empPassword" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        <mat-error
                            *ngIf="employeeForm.get('empPassword').hasError('required') && employeeForm.get('empPassword').touched">
                            Password is required</mat-error>
                        <mat-error
                            *ngIf="employeeForm.get('empPassword').hasError('pattern') && employeeForm.get('empPassword').touched">
                            Enter characters are allowed</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">DOB</mat-label>
                        <input matInput placeholder="DOB" type="date" [(ngModel)]="employeeModel.employeeDOB"
                            formControlName="employeeDOB" min="1900-01-01" max="{{maxdate}}" required>
                        <mat-error
                            *ngIf="employeeForm.get('employeeDOB').hasError('required') && employeeForm.get('employeeDOB').touched">
                            Employee DOB is required</mat-error>
                        <mat-error
                            *ngIf="employeeForm.get('employeeDOB').hasError('pattern') && employeeForm.get('employeeDOB').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">Employee Register Date</mat-label>
                        <input matInput placeholder="Employee Register Date" type="date" [(ngModel)]="employeeModel.employeeRegisterDate"
                            formControlName="employeeRegisterDate" min="1900-01-01" max="{{maxdate}}" required>
                        <mat-error
                            *ngIf="employeeForm.get('employeeRegisterDate').hasError('required') && employeeForm.get('employeeRegisterDate').touched">
                            Employee Register Date is required</mat-error>
                        <mat-error
                            *ngIf="employeeForm.get('employeeRegisterDate').hasError('pattern') && employeeForm.get('employeeRegisterDate').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">Employee Address</mat-label>
                        <input matInput placeholder="Employee Address" [(ngModel)]="employeeModel.empAddress"
                            formControlName="empAddress"onkeypress='return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 ||event.charCode>=48 && event.charCode <=57'>
                        <mat-error
                            *ngIf="employeeForm.get('empAddress').hasError('required') && employeeForm.get('empAddress').touched">
                            Employee Address is required</mat-error>
                        <mat-error
                            *ngIf="employeeForm.get('empAddress').hasError('pattern') && employeeForm.get('empAddress').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="">Employee Designation</mat-label>
                        <input matInput placeholder="Employee Designation" [(ngModel)]="employeeModel.empDesignation"
                            formControlName="empDesignation"onkeypress='return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 || event.charCode==32'>
                        <mat-error
                            *ngIf="employeeForm.get('empDesignation').hasError('required') && employeeForm.get('empDesignation').touched">
                            Employee Designation is required</mat-error>
                        <mat-error
                            *ngIf="employeeForm.get('empDesignation').hasError('pattern') && employeeForm.get('empDesignation').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeForm" >
                        <mat-label class="" >Emp Id</mat-label>
                        <input matInput placeholder="Emp Id" [(ngModel)]="employeeModel.empId"
                            formControlName="empId"onkeypress='return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 ||event.charCode>=48 && event.charCode <=57'>
                        <mat-error
                            *ngIf="employeeForm.get('empId').hasError('required') && employeeForm.get('empId').touched">
                            Emp Id is required</mat-error>
                        <mat-error
                            *ngIf="employeeForm.get('empId').hasError('pattern') && employeeForm.get('empId').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>
            </div>

        <div class="row">
            <div class="form-group col-md-4 ">
                <mat-form-field class="example-full-width" appearance="outline" [formGroup]="employeeForm" > 
                    <mat-label>Status</mat-label>
                    <mat-select matInput [(ngModel)]="employeeModel.status" formControlName="status" (blur)="btnEnable()">
                        <mat-option>Select Status</mat-option>
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Inactive">Inactive</mat-option>

                    </mat-select>
                    <mat-error
                        *ngIf="employeeForm.get('status').hasError('required') && employeeForm.get('status').touched">
                        Status is required</mat-error>
                </mat-form-field>

            </div>

            
            <!-- <div class=" col-md-4 example-full-width" appearance="outline">
                <a class="btn-floating purple-gradient mt-0 float-left">
                    <mat-label>Upload Photo</mat-label>


                    <input type="file" required #files id="files1"
                        (change)="handleFileInput($event.target.files)" />
                </a>
            </div>
            <div class="col-md-4">
                <img [src]="employeeModel.empPhoto" height="120" width="170"> <br />
            </div> -->

            <div class=" col-md-4 example-full-width" appearance="outline" [formGroup]="employeeForm">
                <a class="btn-floating purple-gradient mt-0 float-left">
                    <mat-label>Upload Photo</mat-label>


                    <input type="file" #files (change)="handleFileInput($event.target.files)"
                        formControlName="empPhoto">
                </a>
            </div>
            <div class="col-md-4">
                <img [src]="employeeModel.empPhoto" alt="Employee_image" height="100" width="150" > <br />
            </div>
                        
        </div>
        

        <!-- Accordion card -->
        <div class="card" id="accordion">

            <!-- Card header -->
            <div class="card-header" style="background-color: rgb(99, 210, 230);" role="tab"
                id="headingThree3">
                <a class="collapsed " data-toggle="collapse" data-parent="#accordion"
                    href="#Employee" aria-expanded="false" aria-controls="Employee">
                    <h3 class="mb-0">
                        Employee Priviledge
                    </h3>
                </a>
            </div>
            <!-- Card body -->
            <div id="Employee" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
               >
                <div class="card-body">
                    <!-- <mat-card> -->
                        <mat-card-content>

                            <section class="example-section row">
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.privilege"
                                        [ngModelOptions]="{standalone: true}" >Select All</mat-checkbox>
                                </div>
                            </section>
                        </mat-card-content>
                        <mat-card-content>

                            <section class="example-section row">
                                
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.category"
                                        formControlName="category" [checked]="employeeModel.privilege">Category</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.subcategory"
                                        formControlName="subcategory" [checked]="employeeModel.privilege">Subcategory</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.brand"
                                        formControlName="brand" [checked]="employeeModel.privilege">Brand</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.product"
                                        formControlName="product" [checked]="employeeModel.privilege">Product</mat-checkbox>
                                </div>
                            </section>
                            <section class="row">
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.unit"
                                        formControlName="unit" [checked]="employeeModel.privilege">Unit</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.employee"
                                        formControlName="employee" [checked]="employeeModel.privilege">Employee</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.currentstock"
                                        formControlName="currentstock" [checked]="employeeModel.privilege">Current Stock</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.saleform"
                                        formControlName="saleform" [checked]="employeeModel.privilege">Sale Form</mat-checkbox>
                                </div>
                            </section>

                            <section class="row">
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.stock"
                                        formControlName="stock" [checked]="employeeModel.privilege">Stock</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.stockhistory"
                                        formControlName="stockhistory" [checked]="employeeModel.privilege">Stock History</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.invoicenowisedetails"
                                        formControlName="invoicenowisedetails" [checked]="employeeModel.privilege">Return Product</mat-checkbox>
                                </div>
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.adminsetting"
                                        formControlName="adminsetting" [checked]="employeeModel.privilege">Admin Setting</mat-checkbox>
                                </div>
                                
                            </section>

                            <section class="row">
                                <div class="col-md-3 form-group">
                                    <mat-checkbox class="example-margin" [(ngModel)]="employeeModel.changepwd"
                                        formControlName="changepwd" [checked]="employeeModel.privilege">Change Password</mat-checkbox>
                                </div>
                                
                            </section>

                        </mat-card-content>
                    <!-- </mat-card> -->
                </div>
            </div>
        </div>
        <!-- Accordion card -->


        </div>




        <div class="row">
            <div class=" col-md-5"></div>
            <div class="form-group col-md-2 submitbuttons ">
                <button type="submit" class="btn btn-primary  buttons" [disabled]="buttonDisabled"  (click)="selectAllFun();addEmployee();">Submit</button>

            </div>
            <!-- <div class="form-group col-md-2 submitbuttons">
                    <button  type="submit"  class="btn btn-danger  buttons">Cancel</button> 
                   
                </div> -->
            <div class=" col-md-4"></div>

        </div>

        <br>

    </mat-card>


    <mat-card class=" matcard ">
        <div class="row">
  <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Employee Name" #input>
          </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>
    
        <div class="row">
            <div class="table-responsive" #epltable>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles"  >

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
                </ng-container>

                <!-- EmpId Column -->
                <ng-container matColumnDef="empId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Id </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{element.empId }} </td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="categoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <!-- sub-category Column -->
                <ng-container matColumnDef="subcategoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
                </ng-container>

                <!-- brand Column -->
                <ng-container matColumnDef="brandname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mail ID </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.empMailAddress}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="countryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.employeeDOB|date:'dd-MM-yyyy'}} </td>
                </ng-container>

                 <!-- unit Column -->
                 <ng-container matColumnDef="unitname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Date </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.employeeRegisterDate|date:'dd-MM-yyyy'}} </td>
                </ng-container>

                 <!-- price Column -->
                 <ng-container matColumnDef="pricename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                    <td mat-cell *matCellDef="let element"> {{element.empAddress}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="statename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element.empDesignation}} </td>
                </ng-container>

                 <!-- Weight Column -->
                 <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo </th>
                    <td mat-cell *matCellDef="let element"> <img [src]="element.empPhoto" style="height: 84px; width: 65px; margin: 10px;"> </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-dark"
                            title="Edit Employeemaster" (click)="getEmployeeById(element)">
                            <i class="fa fa-pencil-square-o"></i>
                        </button></td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
            </mat-paginator> -->
        </div>
    </mat-card>
</form>