 
.top{
    margin-top: 6%; 
}

.body{
    height: 400px; 
    /* overflow: hidden; */
}

.demo{ background-color: #FF5B61; }
.form-horizontal{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    padding: 2%;
    box-shadow:0 0 10px #505050;
    border-radius: 5px;
   
    width: 700px;
}
.form-horizontal .form-icon{
    color: #FF5B61;
    font-size: 80px;
    text-align: center;
    line-height: 100px;
    text-shadow: 5px 5px 3px #0E7886;
}
.form-horizontal .heading{
    color: #0E7886;
    margin: 0 0 5px 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.form-horizontal .sub-heading{
    color: #0E7886;
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px 0;
    display: block;
}
.form-horizontal .form-group{
    border-radius: 0;
    /* margin: 0 auto 5px; */
    position: relative;
}
.simplestyle{
    color: #0E7886;
    
}
.form-horizontal .form-group>i{
    color: #0E7886;
    font-size: 15px;
    position: absolute;
    left: 8px;
    top: 7px;
}
.form-horizontal .form-control{
    color: #0E7886;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    padding: 0 15px 0 35px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #0E7886;
    border-radius: 0;
    display: inline-block;
    transition:all 0.3s;
}
.form-control::placeholder{
    color: #0E7886;
    font-size: 14px;
}
.form-horizontal .form-control:focus{ box-shadow: none; }
.form-horizontal .btn{
    color: #fff;
    background-color: #FF5B61;
    font-size: 14px;
    text-transform: uppercase;
    width: auto;
    padding: 10px 10px;
    margin: 0 0 10px 0;
    border-radius: 40px;
    border: none;
    transition:all 0.3s;
}
.form-horizontal .btn:focus,
.form-horizontal .btn:hover{
    /* letter-spacing: 1px; */
    text-shadow: 0 0 1px #0E7886;
    box-shadow: 0 0 0 1px #fff inset,0 0 1px #555;
}
.form-horizontal .forgot-pass{
    color: #0E7886;
    font-size: 13px;
    margin: 0 0 10px;
    display: block;
    text-align: center;
}
.form-horizontal .forgot-pass:hover{ color: #222; }
.form-horizontal .form-footer{ text-align: center; }
.form-horizontal .form-footer span{
    color: #0E7886;
    font-size: 13px;
    display: inline-block;
}
.form-horizontal .register{
    color: #0E7886;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
}
.form-horizontal .register:hover{ color: #FF5B61; }

.example-full-width {
    width: 100%;
    font-size: 13px;
 
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 15px;
 
  }