<form autocomplete="off"  >
    <div class="form-bg body">
            <div class="row top">
                <div class="col-md-3"></div> 
                    <form class="form-horizontal"  name="forgotForm" [formGroup]="forgotForm" >
                        <div class="heading">Forgot Password</div>
                        <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 text-right">
                            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="login/loginpage">
                              Back to Login
                            </a>
                          </div>
                          </div>
                          <br>
                        <br>
                        <div class="row ">
                            <div class="col-md-2"></div>
                            <div class=" form-group col-md-5" > 


                                <mat-form-field class="example-full-width " appearance="outline">
                                    <mat-label class="">Mobile Number</mat-label>
                                    <input matInput placeholder="Mobile Number"  [formGroup]="forgotForm"  formControlName="mobileNumber"  [(ngModel)]="forgotModel.mobileNumber" minlength="10" maxlength="10" pattern="[789][0-9]{9}"
                                    onkeypress='return event.charCode>=48 && event.charCode <=57'>
                                    <mat-error
                                    *ngIf="forgotForm.get('mobileNumber').hasError('required') && forgotForm.get('mobileNumber').touched">
                                    Mobile Number is required</mat-error>
                                     <mat-error  *ngIf="forgotForm.get('mobileNumber').hasError('pattern') && forgotForm.get('mobileNumber').touched">
                                    Only numbers are allowed</mat-error>
                                </mat-form-field> 

                            </div>
                            
                            <div class="form-group col-md-3"> &nbsp;&nbsp;&nbsp;
                                <button type="submit" class=" btn btn-default" (click)="sendOTP()">Send OTP</button>
                                <!-- <button type="submit" class=" btn btn-default" *ngIf="showButton" >ReSend OTP</button> -->

                            </div> 
                        </div>
                        <div class="row " *ngIf="showdivotp">
                            <div class="col-md-2"></div>
                            <div class=" form-group col-md-5" > 
                                <!-- <mat-form-field class="example-full-width simplestyle  " appearance="outline"  [formGroup]="forgotPassForm" >
                                    <mat-label class="simplestyle">OTP</mat-label>
                                    <input matInput placeholder="OTP" class="simplestyle" formControlName="otp"
                                    [(ngModel)]="adminOtpModel.otp"> 
                                  
                                </mat-form-field>  -->

                                <mat-form-field class="example-full-width " appearance="outline">
                                    <mat-label class="">OTP</mat-label>
                                    <input matInput placeholder="OTP"  [formGroup]="forgotForm"  formControlName="otp"  [(ngModel)]="forgotModel.otp">
                                    <mat-error
                                    *ngIf="forgotForm.get('otp').hasError('required') && forgotForm.get('otp').touched">
                                    OTP is required</mat-error>
                                     <!-- <mat-error  *ngIf="forgotForm.get('employeeMobileNo').hasError('pattern') && forgotForm.get('employeeMobileNo').touched">
                                    Only numbers are allowed</mat-error> -->
                                </mat-form-field> 
                            </div>
                            
                            <div class="form-group col-md-3"> 
                                &nbsp;&nbsp;&nbsp;
                                <button type="submit" class=" btn btn-default" (click)="validateOpt()" >Validate OTP</button>
                            </div> 
                        </div>
                        <div class="row" *ngIf="div1">
                            <div class="col-md-1"></div>
                            <div class="form-group col-md-4 ">
                                <mat-form-field class="example-full-width " [formGroup]="forgotForm" appearance="outline">
                                    <mat-label class="">New Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" type="password"  [(ngModel)]="forgotModel.empPassword" formControlName="empPassword">
                                    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
            
            
                                </mat-form-field>
                            </div>
            
                            <div class="form-group col-md-4 ">
                                <mat-form-field class="example-full-width " [formGroup]="forgotForm" appearance="outline">
                                    <mat-label class="">Confirm Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="forgotModel.newPassword" formControlName="newPassword">
                                    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" (keyup)="changeButon($event)"
                                        [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">

                                <button type="submit" class="btn " [disabled]="forgotModel.empPassword!=forgotModel.newPassword || forgotModel.empPassword == null" (click)="changePsw()" >Change Password</button>
                                <!-- <button type="submit" class="btn" [disabled]="disabledButton != '2'" (click)="changePsw()" >Change</button> -->
                            </div>
                        </div>
                       
 
                       
                    </form>
                <!-- </div> -->
                <div class="col-md-2"></div>
            </div>
        <!-- </div> -->
    </div>
</form>
<!-- col-md-offset-4 col-sm-offset-3  -->