
<form class="pagefont" [formGroup]="saleForm" autocomplete="off">
   
    <!-- </mat-card> -->
    <mat-card class=" matcard " style=" padding: 0px;margin: 18px;">
        <div class=" container titles  ">
            <br>
        
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Sale Form Master</b></h4>
                </div>
            </div>
            <br>

            <div class="row form-group">
                <div class="col-md-3">
                    <input class="form-control" type="date" placeholder="Invoice date" [(ngModel)]="saleModel.invoiceDate"
                    formControlName="invoiceDate">
                    <mat-error
                    *ngIf="saleForm.get('invoiceDate').hasError('required') && saleForm.get('invoiceDate').touched">
                    Invoice Date is required</mat-error>
                <mat-error
                    *ngIf="saleForm.get('invoiceDate').hasError('pattern') && saleForm.get('invoiceDate').touched">
                    Only characters are allowed</mat-error>
                </div>

                <div class="col-md-3">
                    <select class="form-control" [(ngModel)]="saleModel.saleType" formControlName="saleType">
                        <!-- <option value="" disabled hidden>Select Sale Type</option> -->
                        <option value="Retail" >Retail Price</option>
                        <option value="Wholesale">Wholesale Price</option>
                      
                      </select>
                      <mat-error
                      *ngIf="saleForm.get('saleType').hasError('required') && saleForm.get('saleType').touched">
                      Sale Type is required</mat-error>
                </div>
                <!-- <div class="form-group col-md-3 example-full-width" style="padding: 0em 0 1em 0 !important;">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="saleForm">
                        <mat-label>Select Sale Type</mat-label>
                        <mat-select required [(ngModel)]="saleModel.saleType"
                            formControlName="saleType">
                            <mat-option>Select Sale Type</mat-option>
                            <mat-option value="Retail">Retail Price</mat-option>
                            <mat-option value="Wholesale">Wholesale Price</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->

                <div class="col-md-3">
                    <input class="form-control" type="text" placeholder="Cashier Name" [(ngModel)]="saleModel.cashier"
                    formControlName="cashier" readonly>
                    <mat-error
                    *ngIf="saleForm.get('cashier').hasError('required') && saleForm.get('cashier').touched">
                    Cashier Name is required</mat-error>
                <mat-error
                    *ngIf="saleForm.get('cashier').hasError('pattern') && saleForm.get('cashier').touched">
                    Only characters are allowed</mat-error>
                </div>

                <div class="col-md-3">
                    <input class="form-control" type="text" placeholder=" Invoice Number" [(ngModel)]="saleModel.invoiceNo"
                    formControlName="invoiceNo" >
                    <mat-error
                    *ngIf="saleForm.get('invoiceNo').hasError('required') && saleForm.get('invoiceNo').touched">
                     Invoice Number is required</mat-error>
                <mat-error
                    *ngIf="saleForm.get('invoiceNo').hasError('pattern') && saleForm.get('invoiceNo').touched">
                    Only characters are allowed</mat-error>
                </div>

            </div>

        <div class="row form-group">
            <div class="col-md-3">
                <select class="form-control" id="sel1" [(ngModel)]="saleModel.payType" formControlName="payType">
                   
                    <option value="Cash" selected>Cash </option>
                    <option value="Credit Card">Credit Card</option>
                    <option value="Debit Card">Debit Card</option>
                    <option value="UPI">UPI</option>
                    <option value="Sodexo">Sodexo</option>
                    
                  
                  </select>
                  <mat-error
                  *ngIf="saleForm.get('payType').hasError('required') && saleForm.get('payType').touched">
                  Payment Type is required</mat-error>
            </div>

            <!-- <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Customer Mobile Number" [(ngModel)]="saleModel.custMobileNumber"
                formControlName="custMobileNumber" (keyup)="getNameByMobNo()">
                <mat-error
                *ngIf="saleForm.get('custMobileNumber').hasError('required') && saleForm.get('custMobileNumber').touched">
                Customer Mobile Number is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('custMobileNumber').hasError('pattern') && saleForm.get('custMobileNumber').touched">
                Only characters are allowed</mat-error>
            </div> -->

            <div class="form-group col-md-3 ">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label >Search Mobile No</mat-label>
                    <input matInput placeholder="Enter Mobile No"  [(ngModel)]="saleModel.custMobileNumber" formControlName="custMobileNumber" [matAutocomplete]="auto"
                    (keydown)="getNameByMobNo(saleModel.custMobileNumber)" minlength="10" maxlength="10">
                  
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let data1 of mobileNoList" [value]="data1.custMobileNumber"
                    (click)="setName(data1)">
                   {{data1.custMobileNumber}}  ({{data1.customerName}})
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
            
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Customer Name" [(ngModel)]="saleModel.customerName"
                formControlName="customerName">
                <mat-error
                *ngIf="saleForm.get('customerName').hasError('required') && saleForm.get('customerName').touched">
                Customer Name is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('customerName').hasError('pattern') && saleForm.get('customerName').touched">
                Only characters are allowed</mat-error>
            </div>

            
        </div>

        <div class="row">
            <div class="col-md-3">
                <!-- <input class="form-control" type="text" placeholder="Barcode" [(ngModel)]="saleModel.barCode"
                formControlName="barCode"  (change)="getByBarcode(saleModel.barCode)"> -->



                <input class="form-control img" type="text" placeholder="Barcode" [(ngModel)]="saleModel.barCode"
                formControlName="barCode" (change)="getByBarcode();editQty();" #barCode>
                <mat-error
                *ngIf="saleForm.get('barCode').hasError('required') && saleForm.get('barCode').touched">
                barCode Name is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('barCode').hasError('pattern') && saleForm.get('barCode').touched">
                Only characters are allowed</mat-error>


            </div>
            <div class="form-group col-md-5 ">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label >Search Product</mat-label>
                    <input matInput placeholder="Product Name" formControlName="productName" [matAutocomplete]="auto1"
                    (keydown)="getProdList($event);" #productFocus>
                <mat-autocomplete #auto1="matAutocomplete">
                  <!-- <div *ngFor = "let data of retailList">
                    <div (click)="getProduct(data)">
                      {{data.productDescription}} 
                    </div> -->
                    <mat-option *ngFor="let data of retailList" [value]="data.productName"
                    (click)="getByIdSearch(data);editQty()" >
                    <!-- {{data.productName}} &nbsp; MRP:{{data.mrp}} &nbsp;Current Stock:{{data.currentStock}} -->
                    <div class="row">
                        <div class="col-md-4">
                            {{data.productName}}
                        </div>
                        <div class="col-md-8 text-right">
                            MRP:{{data.mrp}} | Current Stock:{{data.currentStock}}
                        </div>
                    </div>
                </mat-option>
                </mat-autocomplete>
                </mat-form-field>

                <!-- </div> -->
            </div>

            <div class="col-md-3 form-group" style="margin-top: 18px;" *ngIf="showLooseUnit">
                <mat-checkbox class="example-margin" [(ngModel)]="row.looseUnit"
                    formControlName="looseUnit">Loose Unit</mat-checkbox>
            </div>

            <!-- <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Current Stock" [(ngModel)]="row.currentStock"
                formControlName="currentStock" value="Current Stock :{{row.currentStock}}" readonly>
               
            </div> -->

        </div>

        <div class="row form-group">
            <div class="col-md-2 col-lg-2">
                <mat-label class="">Description</mat-label>
                <input class="form-control" type="text" placeholder="Description" [(ngModel)]="row.productName"
                formControlName="productDescription" 
                value="{{row.productName}}" readonly>
                <!-- <mat-error
                *ngIf="saleForm.get('productDescription').hasError('required') && saleForm.get('productDescription').touched">
                Description of Item is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('productDescription').hasError('pattern') && saleForm.get('productDescription').touched">
                Only characters are allowed</mat-error> -->
                <!-- <mat-label class="">Product Name</mat-label>
                <div>{{row.productName}}</div> -->
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="">Unit</mat-label>
                <input class="form-control" type="text" placeholder="Unit" [(ngModel)]="row.unitName"
                formControlName="unitName" value="{{row.unitName}}" readonly>
                <!-- <mat-error
                *ngIf="saleForm.get('unit').hasError('required') && saleForm.get('unit').touched">
               Unit is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('unit').hasError('pattern') && saleForm.get('unit').touched">
                Only characters are allowed</mat-error> -->
                <!-- <mat-label class="">Unit</mat-label>
            <div>{{row.unit}}</div> -->
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class=""> Quantity</mat-label>
                <input class="form-control" type="text" placeholder="Qty" [(ngModel)]="row.qty"
                formControlName="qty" (keyup)="calFinalAmt()" onkeypress='return event.charCode>=48 && event.charCode <=57' (change)="editBarcode()" #qty>
                <mat-error
                *ngIf="saleForm.get('qty').hasError('required') && saleForm.get('qty').touched">
                Quantity is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('qty').hasError('pattern') && saleForm.get('qty').touched">
                Only characters are allowed</mat-error>
            </div>

            <div class="col-md-2" *ngIf="row.looseUnit">
                <mat-label class="">Unit</mat-label>
                <select (blur)="calFinalAmt()" class="form-control" [(ngModel)]="row.unitDropDown" formControlName="unitDropDown">
                    <!-- <option value="" disabled hidden>Select Sale Type</option> -->
                    <option value="gm" >gm</option>
                    <option value="KG">KG</option>
                    <option value="ml" >ml</option>
                    <option value="L">L</option>
                  
                  </select>
                  <mat-error
                  *ngIf="saleForm.get('unitDropDown').hasError('required') && saleForm.get('unitDropDown').touched">
                 Unit is required</mat-error>
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="">MRP</mat-label>
                <input class="form-control" type="text" placeholder="MRP" [(ngModel)]="row.mrp"
                formControlName="mrp" value="{{row.mrp}}" readonly>
                <mat-error
                *ngIf="saleForm.get('mrp').hasError('required') && saleForm.get('mrp').touched">
                MRP is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('mrp').hasError('pattern') && saleForm.get('mrp').touched">
                Only characters are allowed</mat-error> 
                <!-- <mat-label class="">Product MRP</mat-label>
            <div>{{row.mrp}}</div> -->
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="" style="font-size:14px">Purchase</mat-label>
                <input class="form-control" type="text" placeholder="" [(ngModel)]="row.purchasePrice"
                formControlName="purchasePrice" value="{{row.purchasePrice}}" readonly>
                
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="">Dis %</mat-label>
                <input class="form-control" type="text" placeholder="Discount %" [(ngModel)]="row.discountPerc"
                formControlName="discountPerc" (blur)="discountPercentageWise()">
                <mat-error
                *ngIf="saleForm.get('discountPerc').hasError('required') && saleForm.get('discountPerc').touched">
                Discount Percent is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('discountPerc').hasError('pattern') && saleForm.get('discountPerc').touched">
                Only characters are allowed</mat-error>
            </div>

            <div class="col-md-1 col-lg-2">
                <mat-label class="">Dis Amt</mat-label>
                <input class="form-control" type="text" placeholder="Discount Amt" [(ngModel)]="row.discount"
                formControlName="discount" (blur)="discountAmountWise()">
                <mat-error
                *ngIf="saleForm.get('discount').hasError('required') && saleForm.get('discount').touched">
                Discount Amount is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('discount').hasError('pattern') && saleForm.get('discount').touched">
                Only characters are allowed</mat-error>
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="">Price</mat-label>
                <input class="form-control" type="text" placeholder="Price" [(ngModel)]="row.rate"
                formControlName="rate" value="{{row.rate}}" (blur)="FinalAmountWise()">
                <mat-error
                *ngIf="saleForm.get('rate').hasError('required') && saleForm.get('rate').touched">
                Price is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('rate').hasError('pattern') && saleForm.get('rate').touched">
                Only characters are allowed</mat-error>
                <!-- <mat-label class="">Product Rate</mat-label>
            <div>{{row.rate}}</div> -->
            </div>
           
            <div class="col-md-1 col-lg-2">
                <mat-label class="" style="font-size:14px">Final Amt</mat-label>
                <input class="form-control" type="text" placeholder=" Final Amount" [(ngModel)]="row.finalAmount"
                formControlName="finalAmount" value="{{row.finalAmount}}" readonly>
                <mat-error
                *ngIf="saleForm.get('finalAmount').hasError('required') && saleForm.get('finalAmount').touched">
                Final Amount is required</mat-error>
            <mat-error
                *ngIf="saleForm.get('finalAmount').hasError('pattern') && saleForm.get('finalAmount').touched">
                Only characters are allowed</mat-error>
                <!-- <mat-label class="">Final Amount</mat-label>
                <div>{{row.finalAmount}}</div> -->
            </div>

           
            
            
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4 submitbuttons ">
                <button type="submit" class="btn btn-primary buttons" style="margin-top: 24px;" [disabled]="this.row.qty > this.row.currentStock" (click)="addDetails(row);setFocusToProductName()">Add</button>

            </div>
        </div>
        </div>




       

        <br>

    </mat-card>


    <mat-card class=" matcard ">
        <!-- <div class="row">
  <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Product Details" #input>
          </mat-form-field>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>
        <div class="row">
            <div class="table-responsive" #epltable>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles"  >

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="categoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description of Item </th>
                    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>

                <!-- unit Column -->
                <ng-container matColumnDef="unitname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
                    <td mat-cell *matCellDef="let element"> {{element.unitName}} </td>
                </ng-container>

                <!-- sub-category Column -->
                <ng-container matColumnDef="subcategoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                    <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>

                <!-- brand Column -->
                <ng-container matColumnDef="brandname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MRP </th>
                    <td mat-cell *matCellDef="let element"> {{element.mrp}} </td>
                </ng-container>

                 <!-- discount % Column -->
                 <ng-container matColumnDef="discountPerc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount % </th>
                    <td mat-cell *matCellDef="let element"> {{element.discountPerc}} </td>
                </ng-container>

                 <!-- discount amt Column -->
                 <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount Amt </th>
                    <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
                </ng-container>

                <!-- price Column -->
                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                </ng-container>

                 <!--purchase price Column -->
                 <ng-container matColumnDef="purchasePrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.purchasePrice}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="countryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Final Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.finalAmount}} </td>
                </ng-container>

                
                <!-- Weight Column -->
                <!-- <ng-container matColumnDef="statename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                    <td mat-cell *matCellDef="let element"> <img [src]="element.subCategoryImage" style="height: 100px; width: 100px; margin: 10px;"> </td>
                </ng-container> -->

                <!-- Symbol Column -->
                <!-- <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.productStatus}} </td>
                </ng-container> -->

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index;">

                        <button type="button" class="btn btn-dark" title="Edit Data"
                            (click)="editDetails(element,i)" style="margin: 10px;">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>

                        <button type="button" class="btn btn-dark" title="Remove Record"
                            (click)="removeData(i)" style="margin: 10px;">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
            </mat-paginator> -->
        </div>
    </mat-card>

    <mat-card class=" matcard ">
        <div class="row">
            <div class="col-md-2">
                <mat-label class="">Total Items</mat-label>
                <div>{{saleModel.totalItems}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">Total Quantity</mat-label>
                <div>{{saleModel.totalQuantity}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">Total MRP</mat-label>
                <div>{{saleModel.totalMrp}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">Total Price</mat-label>
                <div>{{saleModel.totalRate}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">Total Final Amount</mat-label>
                <div>{{saleModel.totalFinalAmt}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">You Saved</mat-label>
                <div>{{saleModel.youSave}}</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <mat-label class="">Total Purchase Price</mat-label>
                <div style="text-align: center;">{{saleModel.totalPurchasePrice}}</div>
            </div>
        </div>
    </mat-card>

    <div class="row">
        <div class=" col-md-5"></div>
        <div class="form-group col-md-2 submitbuttons ">
            <button type="submit" class="btn btn-primary buttons" [disabled]="buttonDisabled"  (click)="addOrderDetails()">Print</button>
            <!-- <i class="fa fa-spinner fa-spin" *ngIf="showSpinner == true" ></i> -->
        </div>
        <!-- <div class="form-group col-md-2 submitbuttons">
                <button  type="submit"  class="btn btn-danger  buttons">Cancel</button> 
               
            </div> -->
        <div class=" col-md-4"></div>

    </div>
</form>