<form class="pagefont" [formGroup]="subCategoryForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/layout">
                    <mat-icon>home</mat-icon>&nbsp;Home
                </li>
                <li class="breadcrumb-item" routerLink="/master/subcategory">Sub-Category</li>
            </ol>
        </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
        <div class=" container titles  ">
            <br>
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Sub-Category Master</b></h4>
                </div>
            </div>
            <!-- <hr class="hrstyle"> -->
            <br>
            <div class="row">
                <div class="form-group col-md-4 example-full-width">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="subCategoryForm" >
                        <mat-label>Category</mat-label>
                        <mat-select matInput [(ngModel)]="subCategoryModel.categoryId" formControlName="categoryId">
                            <mat-option>Select Category</mat-option>
                            <mat-option *ngFor="let category of categoryActiveList" [value]="category.categoryId
                            ">
                                {{category.categoryName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="subCategoryForm.get('categoryId').hasError('required') && subCategoryForm.get('categoryId').touched">
                            Category Name is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="subCategoryForm" >
                        <mat-label class="">Sub-Category Name</mat-label>
                        <input matInput placeholder="Sub-Category Name" [(ngModel)]="subCategoryModel.subcategoryName"
                            formControlName="subCategoryName">
                        <mat-error
                            *ngIf="subCategoryForm.get('subCategoryName').hasError('required') && subCategoryForm.get('subCategoryName').touched">
                            Sub-Category Name is required</mat-error>
                        <mat-error
                            *ngIf="subCategoryForm.get('subCategoryName').hasError('pattern') && subCategoryForm.get('subCategoryName').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="subCategoryForm" > 
                        <mat-label>Status</mat-label>
                        <mat-select matInput [(ngModel)]="subCategoryModel.subcategoryStatus"  formControlName="subcategoryStatus">
                            <mat-option>Select Status</mat-option>
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Inactive">Inactive</mat-option>

                        </mat-select>
                        <mat-error
                            *ngIf="subCategoryForm.get('subcategoryStatus').hasError('required') && subCategoryForm.get('subcategoryStatus').touched">
                            Status is required</mat-error>
                    </mat-form-field>

                </div>

<!-- 
                <div class=" col-md-4 example-full-width" appearance="outline" [formGroup]="subCategoryForm" >
                    <a class="btn-floating purple-gradient mt-0 float-left">
                        <mat-label>Upload Photo</mat-label>
                        <input type="file" required #files (change)="handleFileInput($event.target.files)" />
                    </a>
                </div>
                <div class="col-md-4">
                    <img [src]="subCategoryModel.subCategoryImage" style="height: 120px; width: 170px;" > <br />
                </div> -->

            </div>

           
        </div>




        <div class="row">
            <div class=" col-md-5"></div>
            <div class="form-group col-md-2 submitbuttons ">
                <button type="submit" class="btn btn-primary   buttons" [disabled]="!subCategoryForm.valid" (click)="addSubCategory()">Submit</button>

            </div>
            <!-- <div class="form-group col-md-2 submitbuttons">
                    <button  type="submit"  class="btn btn-danger  buttons">Cancel</button> 
                   
                </div> -->
            <div class=" col-md-4"></div>

        </div>

        <br>

    </mat-card>


    <mat-card class=" matcard ">
        <div class="row">
  <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Sub-Category Name" #input>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>
        <div class="row">
            <div class="table-responsive" #epltable>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles"  >

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="countryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub-Category Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.subcategoryName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="statename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryMaster.categoryName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.subcategoryStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-dark"
                            title="Edit Rolemaster" (click)=" getSubCategoryById(element)">
                            <i class="fa fa-pencil-square-o"></i>
                        </button></td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
            </mat-paginator> -->
        </div>
    </mat-card>
</form>