<mat-nav-list class="back   "  style="overflow: hidden;">



    <h2 matSubheader class="headingstyle"><b>Admin</b></h2>
    <mat-divider></mat-divider>

    <a class="title1" mat-list-item routerLinkActive="list-item-active" routerLink="/layout">
        <mat-icon class="sideicon">dashboard</mat-icon>&nbsp;
        Dashboard
    </a>
    <mat-divider></mat-divider>

    <a class="title1" mat-list-item routerLinkActive="list-item-active" *ngIf="accessModel.saleform" routerLink="/layout/saleform">
        <mat-icon class="sideicon">assignment</mat-icon>&nbsp;
        Sale Form
    </a>
    <mat-divider></mat-divider>

    <!-- <a class="title1" mat-list-item routerLinkActive="list-item-active" routerLink="/forms">
        <mat-icon class="sideicon">local_post_office</mat-icon>&nbsp;
        Daily Dashboard
    </a>
    <mat-divider></mat-divider> -->
     

    <mat-divider></mat-divider>
    <mat-icon class="childrouting ">chrome_reader_mode</mat-icon>
    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle side">Masters <mat-icon
            class="drop">arrow_drop_down</mat-icon></a>
            
    <ul class="collapse list-unstyled" id="pageSubmenu1">

  
        <a routerLink="/layout/category">
            <li class="side1" *ngIf="accessModel.category">
               Category Master
            </li>
        </a>
        <a routerLink="/layout/subcategory">
            <li class="side1" *ngIf="accessModel.subcategory">
               Subcategory Master  
            </li>
        </a>
        <a routerLink="/layout/brand">
            <li class="side1" *ngIf="accessModel.brand">
               Brand Master
            </li>
        </a>
        <a routerLink="/layout/unit">
            <li class="side1" *ngIf="accessModel.unit">
               Unit Master
            </li>
        </a>
        <a routerLink="/layout/product">
            <li class="side1" *ngIf="accessModel.product">
               Product Master
            </li>
        </a>
        
        <a routerLink="/layout/currentstock">
            <li class="side1" *ngIf="accessModel.currentstock">
               Current Stock Master
            </li>
        </a>
        <a routerLink="/layout/employee">
            <li class="side1" *ngIf="accessModel.employee">
               Employee Master
            </li>
        </a>
        
        <!-- <a routerLink="/layout/saleform">
            <li class="side1" *ngIf="accessModel.saleform">
               Sale Form
            </li>
        </a> -->
        <a routerLink="/layout/stock">
            <li class="side1" *ngIf="accessModel.stock">
               Stock Master
            </li>
        </a>
        <a routerLink="/layout/stockhistory">
            <li class="side1" *ngIf="accessModel.stockhistory">
               Stock History Master
            </li>
        </a>
        <a routerLink="/layout/invoicenowisedetails">
            <li class="side1" *ngIf="accessModel.invoicenowisedetails">
               Return Product Master 
            </li>
        </a>
        <a routerLink="/layout/adminsetting">
            <li class="side1" *ngIf="accessModel.adminsetting">
            Admin Setting Master
            </li>
        </a>
        <a routerLink="/layout/changepwd">
            <li class="side1" *ngIf="accessModel.changepwd">
            Change Password Master
            </li>
        </a>
        
    </ul>



 <mat-divider></mat-divider>
    <mat-icon class="childrouting ">library_books</mat-icon>
    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle side">Reports <mat-icon
            class="drop">arrow_drop_down</mat-icon></a>
    <ul class="collapse list-unstyled" id="pageSubmenu4">
        <!-- <a routerLink="/layout/monthlyorderreport">
            <li class="side1"> 
                Monthly Repory
            </li>
        </a> -->
        <a routerLink="/layout/cashierreport">
            <li class="side1"> 
                Cashier Report
            </li>
        </a>
        <a routerLink="/layout/dailyreport">
            <li class="side1"> 
                Cashier Daily Report
            </li>
        </a>
        <a routerLink="/layout/dailtreportdatewise">
            <li class="side1"> 
                Datewise Daily Report
            </li>
        </a>
        
        <a routerLink="/layout/totalamountreport">
            <li class="side1"> 
                Stock Value Report
            </li>
        </a>
        <a routerLink="/layout/dailyprofitlossreport">
            <li class="side1"> 
                Daily Profit Loss Report
            </li>
        </a>

        <a routerLink="/layout/weeklyprofitlosssreport">
            <li class="side1"> 
                Weekly Profit Loss Report
            </li>
        </a>
        <a routerLink="/layout/monthlyprofitlosssreport">
            <li class="side1"> 
                Monthly Profit Loss Report
            </li>
        </a>

        <a routerLink="/layout/yearlyprofitlosssreport">
            <li class="side1"> 
                Yearly Profit Loss Report
            </li>
        </a>


      

    </ul>  
    <mat-divider></mat-divider>

    <mat-divider></mat-divider>
    <!-- <mat-icon class="childrouting ">chrome_reader_mode</mat-icon>
    <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle side">Employee <mat-icon
            class="drop">arrow_drop_down</mat-icon></a>
    <ul class="collapse list-unstyled" id="pageSubmenu5">

  
        <a routerLink="/layout/employeelogin">
            <li class="side1">
               Login
            </li>
        </a>
        <a routerLink="/layout/employeeregistration">
            <li class="side1">
               Registration    
            </li>
        </a>
        <a routerLink="/layout/employeeforgotpsw">
            <li class="side1">
               forgot psw
            </li>
        </a>
    </ul> -->


</mat-nav-list>

 