<form class="pagefont" [formGroup]="changepwdForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/layout">
                    <mat-icon>home</mat-icon>&nbsp;Home
                </li>
                <li class="breadcrumb-item" routerLink="/master/changepwd">Change Password</li>
            </ol>
        </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
        <div class=" container titles  ">
            <br>
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Change Password</b></h4>
                </div>
            </div>
            <br>
            <!-- <hr class="hrstyle"> -->
            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " [formGroup]="changepwdForm" appearance="outline">
                        <mat-label class="">Old Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="changepwdModel.empPassword" formControlName="empPassword" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      
                    </mat-form-field>
                    <!-- <div [style.color]="msgcolor" class="errormsg">{{message}}</div> -->

                </div>
                <div class="col-md 8">
                <div class="form-group col-md-6 ">
                    <mat-form-field class="example-full-width " [formGroup]="changepwdForm" appearance="outline">
                        <mat-label class="">New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" type="password" [(ngModel)]="changepwdModel.newPassword" formControlName="newPassword" required>
                        <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>


                    </mat-form-field>
                </div>

                <!-- <div class="form-group col-md-6 ">
                    <mat-form-field class="example-full-width " [formGroup]="changepwdForm" appearance="outline">
                        <mat-label class="">Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="changepwdModel.confirmPassword" disabled="{{newPass}}" formControlName="confirmPassword">
                        <button disabled="{{newPass}}" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="errormsg" style="color:green;" *ngIf="newPassword == changepwdModel.confirmPassword">Password match</div>
                </div> -->
            </div>
            </div>




            <div class="row">
                <div class=" col-md-5"></div>
                <div class="form-group col-md-2 submitbuttons ">
                    <button type="submit" class="btn btn-lg " style="background-color: #FF5B61;" ><span
                            style="color: #FFF;" (click)="changePassword()"> Submit</span></button>
                            <!-- <input type="submit" [disabled]="changepwdModel.newPassword == null" (click)="onClick()" value="asd">
                                 -->
                           
                </div>
                <!-- <div class="form-group col-md-2 submitbuttons">
                    <button  type="submit"  class="btn btn-danger  buttons">Cancel</button> 
                   
                </div> -->
                <div class=" col-md-4"></div>

            </div>
    </div>

        <br>

    </mat-card>


   
</form>