<form class="pagefont" [formGroup]="dailyProfitLossForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/layout">
    <mat-icon>home</mat-icon>
    </li>
    <li class="breadcrumb-item" routerLink="/report/dailyProfitLossForm">Daily Profit Loss Report</li>
    </ol>
    </nav>
    </div>
    <!-- </mat-card> -->
<div class="row form-group">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <mat-card class=" matcard ">
            <div class=" container titles ">
            <br>
            <div class="row">
                <div class="col-md-4"></div>
            <div class="col-md-4">
<!-- 
            <h4 class="heading"><b>Daily Profit Loss Report</b></h4>
             -->
            <mat-form-field class="example-full-width " appearance="outline" [formGroup]="dailyProfitLossForm" >
                <mat-label class="">Date</mat-label>
                <input matInput placeholder="Date" type="text" [(ngModel)]="obj.dailtDate"
                    formControlName="dailtDate" min="1900-12-31" max="{{maxdate}}">
                <mat-error
                    *ngIf="dailyProfitLossForm.get('dailtDate').hasError('required') && dailyProfitLossForm.get('dailtDate').touched">
                     Date is required</mat-error>
                <mat-error
                    *ngIf="dailyProfitLossForm.get('dailtDate').hasError('pattern') && dailyProfitLossForm.get('dailtDate').touched">
                    Only characters are allowed</mat-error>
            </mat-form-field>

            </div>
            </div>
            <br>
            <!-- <hr class="hrstyle"> -->
            
            
            
            
            <div class="row">
            <div class=" col-md-5"></div>
            <div class="form-group col-md-2 submitbuttons ">
            <button type="submit" class="btn btn-primary buttons" (click)="getlist()">Submit</button>
            
            </div>
            
            <div class=" col-md-4"></div>
            
            </div>
            
            <br>
            
            </div>
            </mat-card><br>
            
            <mat-card class=" matcard ">
            <div class="row">

                <div class="col-md-4"></div>

            <div class="col-lg-3 col-md-6 col-sm-6">
            <mat-card class="mt1">
            <div class="card-body ">
            <div class="row">
            <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
            
            <!-- <i class="material-icons text-info">language </i> -->
            <i class="material-icons text-danger">layers</i>
            
            </div>
            </div>
            <div class="col-7 col-md-8">
            <div class="numbers">
            <p class="card-category">Total {{obj.name}}
            </p>
            <p class="card-title"><i class="fas fa-rupee-sign">{{obj.count}}</i>
            <p>
            </div>
            </div>


         
            </div>
            </div>
            
            </mat-card>
            </div>


        
            
            </div>
            </mat-card>
    </div>
    <div class="col-md-1"></div>
</div>


   
    
    </form>