.material-icons
{
    /* height:100px; */
    width:50px;

}
.mt
{
     background-color: #6BD098;
     box-shadow: gray 4px 4px 4px 4px;
}
.mt1{
    background-color: #FCC468;
    box-shadow: gray 4px 4px 4px 4px;
}
.mycrd
{
    box-shadow: gray 4px 4px 4px 4px;
}

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

.styles{
    width: 98% !important;
    padding: 10px;
    margin: 10px;
}
th{
    background-color: rgb(99, 210, 230);
    text-align: center;
    padding: -15px;
    margin: -5px;
    margin-top: -20px;
    font-size: 15px;
    font-weight: bold;
}
.stylespagination{
   margin-left: 10% !important;
   
}

.excelbutton{
  height: 35px;
  width: 90px;
  text-align: center;
  background-color: #00a5ff;
  border-radius: 5px;
 }

 div,p{
    color: black !important;
    }