<form class="pagefont" [formGroup]="invoiceNoWiseForm" autocomplete="off">
   
    <!-- </mat-card> -->
    <mat-card class=" matcard " style=" padding: 0px;margin: 18px;">
        <div class=" container titles  ">
            <br>
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Return Product Master</b></h4>
                </div>
            </div>
            <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <!-- <mat-form-field class="example-full-width" appearance="outline"> -->
                    <!-- <mat-label >Search Invoice Number</mat-label>
                    <input matInput placeholder="Invoice Number" [(ngModel)]="invoiceNoWiseModel.invoiceNo" formControlName="invoiceNo" [matAutocomplete]="auto2"
                    (keydown)="getInvoiceNoList(invoiceNoWiseModel.invoiceNo)" >
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let data of invoiceNoList" [value]="data.invoiceNo"
                    (click)="getInvoiceNowiseDetails()" >
                    {{data.invoiceNo}} 
                </mat-option>
                </mat-autocomplete> -->
                <input class="form-control" type="text" placeholder="Enter Invoice Number" [(ngModel)]="invoiceNoWiseModel.invoiceNo" formControlName="invoiceNo" (keyup.enter)="getInvoiceNowiseDetails()" (blur)="getInvoiceNowiseDetails()">
                <!-- </mat-form-field> -->

            </div>
        </div>

            <div class="row form-group">
                <div class="col-md-3">
                    <label>Invoice Date</label>
                    <input class="form-control" type="text" placeholder="Invoice date" value="{{invoiceNoWiseModel.invoiceDate| date:'yyyy-MM-dd'}}"
                    formControlName="invoiceDate" readonly>
                    
                </div>

                <div class="col-md-3">
                    <label>Sale Type</label>
                    <input class="form-control" type="text" placeholder="Sale Type" [(ngModel)]="invoiceNoWiseModel.saleType"
                formControlName="saleType" readonly>
                   
                </div>
               
                <div class="col-md-3">
                    <label>Cashier Name</label>
                    <input class="form-control" type="text" placeholder="Cashier Name" [(ngModel)]="invoiceNoWiseModel.cashier"
                    formControlName="cashier" readonly>
                   
                </div>

                <div class="col-md-3">
                    <label>Invoice Number</label>
                    <input class="form-control" type="text" placeholder=" Invoice Number" value="{{invNo}}"
                    formControlName="invoiceNo" readonly>
                    
                </div>

            </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label>Pay Type</label>
                <input class="form-control" type="text" placeholder="Pay Type" [(ngModel)]="invoiceNoWiseModel.payType"
                formControlName="payType" readonly>

            </div>

            <!-- <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Customer Mobile Number" [(ngModel)]="invoiceNoWiseModel.custMobileNumber"
                formControlName="custMobileNumber" (keyup)="getNameByMobNo()">
                <mat-error
                *ngIf="invoiceNoWiseForm.get('custMobileNumber').hasError('required') && invoiceNoWiseForm.get('custMobileNumber').touched">
                Customer Mobile Number is required</mat-error>
            <mat-error
                *ngIf="invoiceNoWiseForm.get('custMobileNumber').hasError('pattern') && invoiceNoWiseForm.get('custMobileNumber').touched">
                Only characters are allowed</mat-error>
            </div> -->

            <div class="form-group col-md-3 ">
                    <!-- <mat-label > Mobile No</mat-label> -->
                    <label>Customer Mobile Number</label>
                    <input class="form-control" type="text" placeholder="Enter Mobile No"  [(ngModel)]="invoiceNoWiseModel.custMobileNumber" formControlName="custMobileNumber" readonly >

            </div>
            
            <div class="col-md-3">
                <label>Customer Name</label>
                <input class="form-control" type="text" placeholder="Customer Name" [(ngModel)]="invoiceNoWiseModel.customerName"
                formControlName="customerName" readonly>
                
            </div>

            
        </div>

        <div class="row">
            <!-- <div class="form-group col-md-3 ">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label >Search Product</mat-label>
                    <input matInput placeholder="Product Name" type="text" formControlName="productName" [matAutocomplete]="auto1"
                    (keydown)="getProdList($event)" #productFocus value="{{invoiceNoWiseModel.productList.productName}}">
                <mat-autocomplete #auto1="matAutocomplete">
                 
                    <mat-option *ngFor="let data of retailList" [value]="data.productName"
                    (click)="getByIdSearch(data);editQty()" >
                    {{data.productName}} (MRP:{{data.mrp}})
                </mat-option>
                </mat-autocomplete>
                </mat-form-field>

            </div> -->
            <div class="col-md-3">
                <!-- <mat-label class="">Product Name </mat-label> -->
                <label>Product Name</label>
                <input class="form-control" type="text" placeholder="Product Name" 
                formControlName="productName" value="{{row.productName}}" readonly>
               
            </div>

            <div class="col-md-3 form-group" style="margin-top: 34px;" *ngIf="showLooseUnit">
                <mat-checkbox class="example-margin" [(ngModel)]="row.looseUnit"
                    formControlName="looseUnit" >Loose Unit</mat-checkbox>
            </div>


        </div>
        <br><br>

        <div class="row form-group">
            <div class="col-md-2 col-lg-2">
                <mat-label class="">Description</mat-label>
                <input class="form-control" type="text" placeholder="Description" [(ngModel)]="row.productName"
                formControlName="productDescription" 
                value="{{row.productName}}" readonly>

            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="">Unit</mat-label>
                <input class="form-control" type="text" placeholder="Unit" [(ngModel)]="row.unitName"
                formControlName="unitName" value="{{row.unitName}}" readonly>
               
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class=""> Quantity</mat-label>
                <input class="form-control" type="text" placeholder="Qty" [(ngModel)]="row.qty"
                formControlName="qty" (keyup)="calFinalAmt()" #qty >
                <mat-error
                *ngIf="invoiceNoWiseForm.get('qty').hasError('required') && invoiceNoWiseForm.get('qty').touched">
                Quantity is required</mat-error>
            <mat-error
                *ngIf="invoiceNoWiseForm.get('qty').hasError('pattern') && invoiceNoWiseForm.get('qty').touched">
                Only characters are allowed</mat-error>
            </div>

            <div class="col-md-2" *ngIf="row.looseUnit">
                <mat-label class="">Unit</mat-label>
                <select class="form-control" [(ngModel)]="row.unitDropDown" formControlName="unitDropDown">
                    <option value="gm" >gm</option>
                    <option value="KG">KG</option>
                    <option value="ml" >ml</option>
                    <option value="L">L</option>
                  
                  </select>
                  <mat-error
                  *ngIf="invoiceNoWiseForm.get('unitDropDown').hasError('required') && invoiceNoWiseForm.get('unitDropDown').touched">
                 Unit is required</mat-error>
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="">MRP</mat-label>
                <input class="form-control" type="text" placeholder="MRP" [(ngModel)]="row.mrp"
                formControlName="mrp" value="{{row.mrp}}" readonly>
               
                <!-- <mat-label class="">Product MRP</mat-label>
            <div>{{row.mrp}}</div> -->
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="" style="font-size:14px">Purchase</mat-label>
                <input class="form-control" type="text" placeholder="" [(ngModel)]="row.purchasePrice"
                formControlName="purchasePrice" value="{{row.purchasePrice}}" readonly>
                
            </div>
            
            <div class="col-md-1 col-lg-1">
                <mat-label class="">Dis %</mat-label>
                <input class="form-control" type="text" placeholder="Discount %" [(ngModel)]="row.discountPerc"
                formControlName="discountPerc" (blur)="discountPercentageWise()" readonly>
               
            </div>

            <div class="col-md-1 col-lg-2">
                <mat-label class="">Dis Amt</mat-label>
                <input class="form-control" type="text" placeholder="Discount" [(ngModel)]="row.discount"
                formControlName="discount" (blur)="discountAmountWise()" readonly>
            </div>

            <div class="col-md-1 col-lg-1">
                <mat-label class="">Price</mat-label>
                <input class="form-control" type="text" placeholder="Price" [(ngModel)]="row.rate"
                formControlName="rate" value="{{row.rate}}" (blur)="FinalAmountWise()" readonly>
                
                <!-- <mat-label class="">Product Rate</mat-label>
            <div>{{row.rate}}</div> -->
            </div>
           
            <div class="col-md-1 col-lg-1">
                <mat-label class="" style="font-size:13px">Final Amt</mat-label>
                <input class="form-control" type="text" placeholder=" Final Amount" [(ngModel)]="row.finalAmount"
                formControlName="finalAmount" value="{{row.finalAmount}}" readonly>
                                <!-- <mat-label class="">Final Amount</mat-label>
                <div>{{row.finalAmount}}</div> -->
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
            <div class="form-group col-md-4 col-lg-4 submitbuttons ">
                <button type="submit" class="btn btn-primary buttons" style="margin-top: 24px;" onkeypress="return  event.keyCode != 13;" (click)="addDetails(row)">Return</button>
            </div>
            </div>
        </div>




       

        <br>

    </mat-card>


    <mat-card class=" matcard ">
        <!-- <div class="row">
  <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Product Details" #input>
          </mat-form-field>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>
        <div class="row">
            <div class="table-responsive" #epltable>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles"  >

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
                </ng-container>

                

                 <!-- product Column -->
                 <ng-container matColumnDef="productname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.productName}} </td>
                </ng-container>

                <!-- sub-category Column -->
                <!-- <ng-container matColumnDef="subcategoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Stock </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.currentStock}} </td>
                </ng-container> -->

                 <!-- qty Column -->
                 <ng-container matColumnDef="qty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
                    <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>

                 <!-- unit Column -->
                 <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit </th>
                    <td mat-cell *matCellDef="let element"> {{element.unitName}} </td>
                </ng-container>

                <!-- brand Column -->
                <ng-container matColumnDef="brandname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MRP </th>
                    <td mat-cell *matCellDef="let element"> {{element.mrp}} </td>
                </ng-container>

                 <!-- discount % Column -->
                 <ng-container matColumnDef="discountPerc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount % </th>
                    <td mat-cell *matCellDef="let element"> {{element.discountPerc}} </td>
                </ng-container>

                 <!-- discount amt Column -->
                 <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount Amt </th>
                    <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
                </ng-container>

                <!-- price Column -->
                <ng-container matColumnDef="purchasePrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.purchasePrice}} </td>
                </ng-container>

                <!-- price Column -->
                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="countryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Final Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.finalAmount}} </td>
                </ng-container>

                
                <!-- Weight Column -->
                <!-- <ng-container matColumnDef="statename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                    <td mat-cell *matCellDef="let element"> <img [src]="element.subCategoryImage" style="height: 100px; width: 100px; margin: 10px;"> </td>
                </ng-container> -->

                <!-- Symbol Column -->
                <!-- <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.productStatus}} </td>
                </ng-container> -->

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index;">

                        <button type="button" class="btn btn-dark" title="Edit Data"
                            (click)="editDetails(element)" style="margin: 10px;">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>

                        <!-- <button type="button" class="btn btn-dark" title="Remove Record"
                            (click)="removeData(i)" style="margin: 10px;">
                            <i class="fa fa-trash-o"></i>
                        </button> -->
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
            </mat-paginator> -->
        </div>
    </mat-card>

    <mat-card class=" matcard ">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <mat-label class="">Total Items</mat-label>
                <div>{{invoiceNoWiseModel.totalItems}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">Total Quantity</mat-label>
                <div>{{invoiceNoWiseModel.totalQuantity}}</div>
            </div>

            <!-- <div class="col-md-2">
                <mat-label class="">Total MRP</mat-label>
                <div>{{invoiceNoWiseModel.totalMrp}}</div>
            </div>-->

            <div class="col-md-2">
                <mat-label class="">Total Purchase Price</mat-label>
                <div>{{invoiceNoWiseModel.totalPurchasePrice}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">Total Final Amount</mat-label>
                <div>{{invoiceNoWiseModel.totalFinalAmt}}</div>
            </div>

            <div class="col-md-2">
                <mat-label class="">You Saved</mat-label>
                <div>{{invoiceNoWiseModel.youSave}}</div>
            </div>
        </div>
    </mat-card>

    <!-- <div class="row">
        <div class=" col-md-5"></div>
        <div class="form-group col-md-2 submitbuttons ">
            <button type="submit" class="btn btn-primary buttons"  (click)="addOrderDetails()">Submit</button>

        </div>
        
        <div class=" col-md-4"></div>

    </div> -->
</form>