<form class="pagefont" [formGroup]="productForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/layout">
                    <mat-icon>home</mat-icon>&nbsp;Home
                </li>
                <li class="breadcrumb-item" routerLink="/master/product">Product</li>
            </ol>
        </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
        <div class=" container titles  ">
            <br>
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Product Master</b></h4>
                </div>
            </div>
            <br>
            <!-- <hr class="hrstyle"> -->
            <div class="row">
                <div class="form-group col-md-4 example-full-width">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="productForm" >
                        <mat-label>Category</mat-label>
                        <mat-select matInput [(ngModel)]="productModel.categoryId" formControlName="categoryId">
                            <mat-option>Select Category</mat-option>
                            <mat-option *ngFor="let category of categoryActiveList" [value]="category.categoryId
                            " (click)="getActiveSubCategory1(category)">
                                {{category.categoryName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="productForm.get('categoryId').hasError('required') && productForm.get('categoryId').touched">
                            Category Name is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 example-full-width">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="productForm" >
                        <mat-label>Sub-Category</mat-label>
                        <mat-select matInput [(ngModel)]="productModel.scId" formControlName="scId">
                            <mat-option>Select Sub-Category</mat-option>
                            <mat-option *ngFor="let subcategory of subCategoryActiveListnew" [value]="subcategory.scId
                            ">
                                {{subcategory.subcategoryName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="productForm.get('scId').hasError('required') && productForm.get('scId').touched">
                            Sub-Category Name is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 example-full-width">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="productForm" >
                        <mat-label>Brand</mat-label>
                        <mat-select matInput [(ngModel)]="productModel.brandId" formControlName="brandId">
                            <mat-option>Select Brand</mat-option>
                            <mat-option *ngFor="let brand of brandActiveList" [value]="brand.brandId
                            ">
                                {{brand.brandName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="productForm.get('brandId').hasError('required') && productForm.get('brandId').touched">
                           Brand Name is required</mat-error>
                    </mat-form-field>
                </div>

                

<!-- 
                <div class=" col-md-4 example-full-width" appearance="outline" [formGroup]="productForm" >
                    <a class="btn-floating purple-gradient mt-0 float-left">
                        <mat-label>Upload Photo</mat-label>
                        <input type="file" required #files (change)="handleFileInput($event.target.files)" />
                    </a>
                </div>
                <div class="col-md-4">
                    <img [src]="productModel.subCategoryImage" style="height: 120px; width: 170px;" > <br />
                </div> -->

            </div>

            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Product Name</mat-label>
                        <input matInput placeholder="Product Name" [(ngModel)]="productModel.productName"
                            formControlName="productName">
                        <mat-error
                            *ngIf="productForm.get('productName').hasError('required') && productForm.get('productName').touched">
                            Product Name is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('productName').hasError('pattern') && productForm.get('productName').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm">
                        <mat-label class="">Description of Product
                        </mat-label>
                        <!-- <textarea matInput> -->
                        <textarea matInput placeholder="Description" [(ngModel)]="productModel.productDescription"
                            formControlName="productDescription"> </textarea>
                        <mat-error
                            *ngIf="productForm.get('productDescription').hasError('required') && productForm.get('productDescription').touched">
                            Description is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="productForm" > 
                        <mat-label>Status</mat-label>
                        <mat-select matInput [(ngModel)]="productModel.productStatus"  formControlName="productStatus">
                            <mat-option>Select Status</mat-option>
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Inactive">Inactive</mat-option>

                        </mat-select>
                        <mat-error
                            *ngIf="productForm.get('productStatus').hasError('required') && productForm.get('productStatus').touched">
                            Status is required</mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group" style="margin-top: 18px;">
                    <mat-checkbox class="example-margin" [(ngModel)]="productModel.looseUnit"
                        formControlName="looseUnit" (click)="getActiveLooseUnit()">Loose Unit(Please Enter per KG/L price)</mat-checkbox>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4 example-full-width">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="productForm" >
                        <mat-label>Unit</mat-label>
                        <mat-select matInput [(ngModel)]="productModel.unitId" formControlName="unitId">
                            <mat-option>Select Unit</mat-option>
                            <mat-option *ngFor="let unit of unitActiveList" [value]="unit.unitId
                            ">
                                {{unit.unitName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="productForm.get('unitId').hasError('required') && productForm.get('unitId').touched">
                           Unit Name is required</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">MRP</mat-label>
                        <input matInput placeholder="MRP" [(ngModel)]="productModel.mrp"
                            formControlName="mrp">
                        <mat-error
                            *ngIf="productForm.get('mrp').hasError('required') && productForm.get('mrp').touched">
                            MRP is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('mrp').hasError('pattern') && productForm.get('mrp').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Retail Discount Percent</mat-label>
                        <input matInput placeholder="Retail Discount Percent" [(ngModel)]="productModel.retailDiscountPerc"
                            formControlName="retailDiscountPerc" (blur)="retailDiscountPercentageWise()" type="number" max="100">
                        <mat-error
                            *ngIf="productForm.get('retailDiscountPerc').hasError('required') && productForm.get('retailDiscountPerc').touched">
                            Retail Discount Percent is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('retailDiscountPerc').hasError('pattern') && productForm.get('retailDiscountPerc').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Retail Discount Amount</mat-label>
                        <input matInput placeholder="Retail Discount Amount" [(ngModel)]="productModel.retailDiscount"
                            formControlName="retailDiscount" (blur)="retailDiscountAmountWise()">
                        <mat-error
                            *ngIf="productForm.get('retailDiscount').hasError('required') && productForm.get('retailDiscount').touched">
                            Retail Discount Amount is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('retailDiscount').hasError('pattern') && productForm.get('retailDiscount').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Retail Price</mat-label>
                        <input matInput placeholder="Retail Price" [(ngModel)]="productModel.retailPrice"
                            formControlName="retailPrice" (blur)="RetailPriceWise()">
                        <mat-error
                            *ngIf="productForm.get('retailPrice').hasError('required') && productForm.get('retailPrice').touched">
                            Retail Price is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('retailPrice').hasError('pattern') && productForm.get('retailPrice').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Wholesale Discount Percent</mat-label>
                        <input matInput placeholder="Wholesale Discount Percent" [(ngModel)]="productModel.wholesaleDiscountPerc"
                            formControlName="wholesaleDiscountPerc" (blur)="wholesaleDiscountPercentageWise()" type="number" max="100">
                        <mat-error
                            *ngIf="productForm.get('wholesaleDiscountPerc').hasError('required') && productForm.get('wholesaleDiscountPerc').touched">
                            Wholesale Discount Percent is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('wholesaleDiscountPerc').hasError('pattern') && productForm.get('wholesaleDiscountPerc').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Wholesale Discount Amount</mat-label>
                        <input matInput placeholder="Wholesale Discount Amount" [(ngModel)]="productModel.wholesaleDiscount"
                            formControlName="wholesaleDiscount" (blur)="wholesaleDiscountAmountWise()">
                        <mat-error
                            *ngIf="productForm.get('wholesaleDiscount').hasError('required') && productForm.get('wholesaleDiscount').touched">
                            Wholesale Discount Amount is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('wholesaleDiscount').hasError('pattern') && productForm.get('wholesaleDiscount').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Wholesale Price</mat-label>
                        <input matInput placeholder="Wholesale Price" [(ngModel)]="productModel.wholesalePrice"
                            formControlName="wholesalePrice" (blur)="WholesalePriceWise()">
                        <mat-error
                            *ngIf="productForm.get('wholesalePrice').hasError('required') && productForm.get('wholesalePrice').touched">
                            Wholesale Price is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('wholesalePrice').hasError('pattern') && productForm.get('wholesalePrice').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Barcode Number</mat-label>
                        <input matInput placeholder="Barcode Number" [(ngModel)]="productModel.barCode"
                            formControlName="barCode">
                        <mat-error
                            *ngIf="productForm.get('barCode').hasError('required') && productForm.get('barCode').touched">
                            Barcode Number is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('barCode').hasError('pattern') && productForm.get('barCode').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Purchase Price</mat-label>
                        <input matInput placeholder="Purchase Price" [(ngModel)]="productModel.purchasePrice"
                            formControlName="purchasePrice">
                        <mat-error
                            *ngIf="productForm.get('purchasePrice').hasError('required') && productForm.get('purchasePrice').touched">
                            Purchase Price is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('purchasePrice').hasError('pattern') && productForm.get('purchasePrice').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-md-4 form-group">
                    <mat-checkbox class="example-margin" [(ngModel)]="productModel.looseUnit"
                        formControlName="looseUnit">Loose Unit</mat-checkbox>
                </div> -->
                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Current Stock</mat-label>
                        <input matInput placeholder="Current Stock" [(ngModel)]="productModel.currentStock"
                            formControlName="currentStock">
                        <mat-error
                            *ngIf="productForm.get('currentStock').hasError('required') && productForm.get('currentStock').touched">
                            Current Stock is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('currentStock').hasError('pattern') && productForm.get('currentStock').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="productForm" >
                        <mat-label class="">Opening Stock</mat-label>
                        <input matInput placeholder="Opening Stock" [(ngModel)]="productModel.openingStock"
                            formControlName="openingStock" (change)="btnEnable()">
                        <mat-error
                            *ngIf="productForm.get('openingStock').hasError('required') && productForm.get('openingStock').touched">
                            Opening Stock is required</mat-error>
                        <mat-error
                            *ngIf="productForm.get('openingStock').hasError('pattern') && productForm.get('openingStock').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

            </div>

           
           
        </div>




        <div class="row">
            <div class=" col-md-5"></div>
            <div class="form-group col-md-2 submitbuttons ">
                <button type="submit" class="btn btn-primary  buttons" [disabled]="buttonDisabled" (click)="addProduct()">Submit</button>

            </div>
            <!-- <div class="form-group col-md-2 submitbuttons">
                    <button  type="submit"  class="btn btn-danger  buttons">Cancel</button> 
                   
                </div> -->
            <div class=" col-md-4"></div>

        </div>

        <br>

    </mat-card>


    <mat-card class=" matcard ">
        <div class="row">
  <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Product Name" #input>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>
    
        <div class="row">
            <div class="table-responsive" #epltable>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles"  >

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="categoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryMaster.categoryName}} </td>
                </ng-container>

                <!-- sub-category Column -->
                <ng-container matColumnDef="subcategoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub-Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.subCategoryMaster.subcategoryName}} </td>
                </ng-container>

                <!-- brand Column -->
                <ng-container matColumnDef="brandname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                    <td mat-cell *matCellDef="let element"> {{element.brandMaster.brandName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="countryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>

                 <!-- unit Column -->
                 <ng-container matColumnDef="unitname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit </th>
                    <td mat-cell *matCellDef="let element"> {{element.unitMaster.unitName}} </td>
                </ng-container>

                 <!-- price Column -->
                 <ng-container matColumnDef="pricename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Retail Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.retailPrice}} </td>
                </ng-container>

                <ng-container matColumnDef="wholesaleprice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Wholesale Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.wholesalePrice}} </td>
                </ng-container>

                 <!-- unit Column -->
                 <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Stock</th>
                    <td mat-cell *matCellDef="let element"> {{element.currentStock}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="barcode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Barcode </th>
                    <td mat-cell *matCellDef="let element"> <ngx-barcode [bc-value]="element.barCode    " [bc-display-value]="true" [bc-width]="width" [bc-height]="height" ></ngx-barcode> </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.productStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-dark"
                            title="Edit Rolemaster" (click)=" getProductById(element)">
                            <i class="fa fa-pencil-square-o"></i>
                        </button></td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
            </mat-paginator> -->
        </div>
    </mat-card>
</form>