<!-- Dashboard Page Design -->
<!-- <h3>Dashboard Worksss!</h3>
<h5 class="toppath">Admin &nbsp;/&nbsp; Dashboard</h5>
<button mat-raised-button color="primary" class="btn btnstyle " (click)="openDialog()" > <i class="material-icons " >
delete
</i>
</button> -->
<mat-card>
    <div class="container">
    
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
    <mat-card class="mt1">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
    <div class="icon-big text-center icon-warning">
    
    <i class="material-icons text-info">layers </i>
    
    </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">{{obj.daily}}</p>
    <p class="card-title">{{obj.totalFinalCountDaily}}
    <p>
    </div>
    </div>
    </div>
    </div>
    <div>
    <hr>
    <!-- <div class="stats">
    <i class="fa fa-refresh"></i> Update Now
    </div> -->
    </div>
    </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
    <mat-card class="mt">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
    <div class="icon-big text-center icon-warning">
    <i class="material-icons text-success">layers </i>
    </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">{{obj.weekly}}</p>
    <p class="card-title">{{obj.totalFinalCountWeekly}}
    <p>
    </div>
    </div>
    </div>
    </div>
    <div>
    <hr>
    <!-- <div class="stats">
    <i class="fa fa-calendar-o"></i> Last day
    </div> -->
    </div>
    </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
    <mat-card class="mt1">
    <div class="card-body ">
    <div class="row">
    <div class="col-4 col-md-3">
    <div class="icon-big text-center icon-warning">
    <i class="material-icons text-danger">layers</i>
    </div>
    </div>
    <div class="col-8 col-md-9">
    <div class="numbers">
    <p class="card-category">{{obj.monthly}}</p>
    <p class="card-title">{{obj.totalFinalCountMonthly}}
    <p>
    </div>
    </div>
    </div>
    </div>
    <div>
    <hr>
    <!-- <div class="stats">
    <i class="fa fa-clock-o"></i> In the last hour
    </div> -->
    </div>
    </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
    <mat-card class="mt">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
    <div class="icon-big text-center icon-warning">
    <i class="nc-icon nc-favourite-28 text-primary"></i>
    <i class="material-icons text-primary ">layers </i>
    </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">{{obj.yearly}}</p>
    <p class="card-title">{{obj.totalFinalCountYearly}}
    <p>
    </div>
    </div>
    </div>
    </div>
    <div>
    <hr>
    <!-- <div class="stats">
    <i class="fa fa-refresh"></i> Update now
    </div> -->
    </div>
    </mat-card>
    </div>
    </div>
    <br>
    <br>
    
    
    <!-- Added by prajakta -->
    
    <mat-card class=" matcard ">
    <div class="row">
    
    <div class="col-md-6">
    <div class=" container titles ">
    <br>
    <div class="row">
    <div class="col-md 12 ">
    <h4 class="heading"><b>Available Stock</b></h4>
    </div>
    </div>
    <br>
    </div>
    
    <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles" >
    
    <!-- Position Column -->
    <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
    </ng-container>
    
    <!-- category Column -->
    <ng-container matColumnDef="categoryname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
    
    <!-- sub-category Column -->
    <ng-container matColumnDef="subcategoryname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.currentStock}} </td>
    </ng-container>
    
    
    <!-- <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-dark"
    title="Edit Rolemaster" (click)=" getProductById(element)">
    <i class="fa fa-pencil-square-o"></i>
    </button></td>
    </ng-container> -->
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
    </mat-paginator>
    </div>
    <div class="col-md-6">
    <div class=" container titles ">
    <br>
    <div class="row">
    <div class="col-md 12 ">
    <h4 class="heading"><b>Low Stock</b></h4>
    </div>
    </div>
    <br>
    </div>
    
    <div class="table-responsive">
    <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8 styles">
    
    <!-- Position Column -->
    <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="lowStock">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Low Stock</th>
    <td mat-cell *matCellDef="let element"> {{element.lowStock}} </td>
    </ng-container>
    
    
    <!-- Symbol Column -->
    
    
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
    </div>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
    </mat-paginator>
    
    </div>
    
    
    </div>
    </mat-card>
    
    
    <br><br><br><br>
    
    
    <!-- <div class="row">
    <div class="col-md-12">
    <mat-card class="mycrd">
    <div>
    <h5>Users Behavior</h5>
    <p>24 Hours performance</p>
    </div>
    <hr>
    <div>
    <canvas id=chartHours width="400" height="100"></canvas>
    </div>
    <div>
    <hr>
    <div class="stats">
    <i class="fa fa-history"></i> Updated 3 minutes ago
    </div>
    </div>
    </mat-card>
    </div>
    </div> -->
    <!-- <br> -->
    <!-- <div class="row">
    <div class="col-md-4">
    <mat-card class="mycrd">
    <div>
    <h5>Email Statistics</h5>
    <p>Last Campaign Performance</p>
    </div>
    <div>
    <canvas id="chartEmail"></canvas>
    </div>
    <div>
    <div class="legend">
    <i class="fa fa-circle text-primary"></i> Opened
    <i class="fa fa-circle text-warning"></i> Read
    <i class="fa fa-circle text-danger"></i> Deleted
    <i class="fa fa-circle text-gray"></i> Unopened
    </div>
    <hr>
    <div class="stats">
    <i class="fa fa-calendar"></i> Number of emails sent
    </div>
    </div>
    </mat-card>
    </div>
    <div class="col-md-8">
    <mat-card class="mycrd">
    <div>
    <h5>NASDAQ: AAPL</h5>
    <p>Line Chart with Points</p>
    </div>
    <hr>
    <div>
    <canvas id="speedChart" width="400" height="100"></canvas>
    </div>
    <div>
    <div class="chart-legend">
    <i class="fa fa-circle text-info"></i> Tesla Model S
    <i class="fa fa-circle text-warning"></i> BMW 5 Series
    </div>
    <hr />
    <div>
    <i class="fa fa-check"></i> Data information certified
    </div>
    </div>
    </mat-card>
    </div>
    </div> -->
    
    </div>
    </mat-card>