<form class="pagefont" [formGroup]="categoryForm1" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/layout">
    <mat-icon>home</mat-icon>&nbsp;Home
    </li>
    <li class="breadcrumb-item" routerLink="/report/notifyminstock">Stock Alerts</li>
    </ol>
    </nav>
    </div>
    <!-- </mat-card> -->
    
    <mat-card class=" matcard ">
    <div class="row">
    <div class="col-md-4">
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label >Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Product Name" #input>
    </mat-form-field>
    </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>
    <div class="row">
        <div class="table-responsive" #epltable>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles">
    
    <!-- Position Column -->
    <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
    
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="currentStock">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.currentStock}} </td>
    </ng-container>
    
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
    </mat-paginator>
    </div>
    </mat-card>
    </form>