
.navbar {
    width: 100%;
    background-color: #555;
    /* background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: auto;
    min-height: 90px !important;
  }
  
  .navbar button {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .navbar button:hover {
    background-color: #000;
  }
  
  .active {
  
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  

