<!doctype html>
<html class="no-js" lang="en">

    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <!--font-family-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        
        <!-- title of site -->
        <title>Nana Mart</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="assets/css/linearicons.css">

		<!--animate.css-->
        <link rel="stylesheet" href="assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">


        
		<!-- <script src="assets/js/jquery.js"></script> -->
        
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!--bootstrap.min.js-->
    <script src="assets/js/bootstrap.min.js"></script>

<!-- bootsnav js -->
<!-- <script src="assets/js/bootsnav.js"></script> -->

<!--owl.carousel.js-->
    <script src="assets/js/owl.carousel.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    
    <!--Custom JS-->
    <script src="assets/js/custom.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  

</head>

	<body>
		
				
		
		
	<form [formGroup]="homeForm">
					
<div class="navbar">
	<img  class="img-responsive imgLogo rounded-circle" src="./assets/images/slider/logo.jpg" style="width:7% !important;" >
	
	<button class="active" (click)="myFunction('home')" ><i class="fa fa-fw fa-home"></i>Home</button> 
	<button  (click)="myFunction('about')"><i class="fa fa-users" ></i> About Us </button> 
	<button (click)="myFunction('product')"><i class="fa fa-cart-arrow-down"></i> Our Products</button> 
	<button (click)="myFunction('contact')"><i class="fa fa-phone-square"></i> Contact US</button> 
	<button routerLink="/login/loginpage"><i class="fa fa-fw fa-user"></i> Login</button>
  </div>
		<!--welcome-hero start -->
		<header id="home" class="welcome-hero">


			



			<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel" style="margin-top: -22px !important;">
				<!--/.carousel-indicator -->
				 <ol class="carousel-indicators">
					<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
				</ol><!-- /ol-->
				<!--/.carousel-indicator -->

				<!--/.carousel-inner -->
				<div class="carousel-inner"  id="home" role="listbox">
					<!-- .item -->
					<div class="item active">
						<div class="single-slide-item slide1">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h1>Take a look.</h1>
													<h2>The quality service you expect.</h2>
													<!-- <p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
													</p> -->
													<!-- <div class="packages-price">
														<p>
															$ 399.00
															<del>$ 499.00</del>
														</p>
													</div> -->
													<!-- <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> cart
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button> -->
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img ">
													<img src="assets/images/slider/s13.jpg" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->

					</div><!-- /.item .active-->

					<div class="item">
						<div class="single-slide-item slide2">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h1>Take a look.</h1>
													<h2>You’re bound to find more.</h2>
													<!-- <p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
													</p> -->
													<!-- <div class="packages-price">
														<p>
															$ 199.00
															<del>$ 299.00</del>
														</p>
													</div> -->
													<!-- <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> cart
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button> -->
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="assets/images/slider/s14.jpg" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->

					</div><!-- /.item .active-->

					<div class="item">
						<div class="single-slide-item slide3">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h1>Take a look.</h1>
													<h2>You need it, we’ve got it.</h2>
													<!-- <p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
													</p> -->
													<!-- <div class="packages-price">
														<p>
															$ 299.00
															<del>$ 399.00</del>
														</p>
													</div> -->
													<!-- <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> cart
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button> -->
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="assets/images/slider/s12.jpg" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
						
					</div><!-- /.item .active-->
				</div><!-- /.carousel-inner-->

			</div><!--/#header-carousel-->

			<!-- top-area End -->

		</header><!--/.welcome-hero-->
		<!--welcome-hero end -->

	
		<!--populer-products end-->
<!--blog start -->
<section id="about" class="blog">
	<div class="container">
		<div class="section-header">
			<h2>About Us</h2>
		</div><!--/.section-header-->
		<div class="blog-content">
			<div class="row">	
				<div class="col-sm-2"></div>
				<div class="col-sm-4">
					<div class="single-blog">
						<!-- <div class="single-blog-img">
							<img src="assets/images/blog/b1.jpg" alt="blog image">
							<div class="single-blog-img-overlay"></div>
						</div> -->
						<div class="single-blog-txt">
							<h2><a href="#">Why Brands are Looking at Local Language</a></h2>
							<h3>By <a href="#">Robert Norby</a> / 18th March 2018</h3>
							<p>
								Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.... 
							</p>
						</div>
					</div>
					
				</div>


				<div class="col-sm-4">
					<div class="single-blog">
						<div class="single-blog-img">
							<img src="assets/images/slider/shop.jpg" alt="blog image">
							<div class="single-blog-img-overlay"></div>
						</div>
					
					</div>
				</div>
			
			</div>
		</div>
	</div><!--/.container-->
	
</section><!--/.blog-->
<!--blog end -->

		<!--new-arrivals start -->
		<section id="product" class="new-arrivals">
			<div class="container">
				<div class="section-header">
					<h2>Our Products</h2>
				</div><!--/.section-header-->
				<div class="new-arrivals-content">
					<div class="row">
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/s7.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="sale bg-1">
										<p>sale</p>
									</div> -->
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Maggie</a></h4>
								<!-- <p class="arrival-product-price">$65.00</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival"  style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/s8.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="sale bg-2">
										<p>sale</p>
									</div> -->
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Wheat</a></h4>
								<!-- <p class="arrival-product-price">$80.00</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/s9.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Dals</a></h4>
								<!-- <p class="arrival-product-price">$40.00</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/s10.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="sale bg-1">
										<p>sale</p>
									</div> -->
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Dove</a></h4>
								<!-- <p class="arrival-product-price">$100.00</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/bis.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Biscuits</a></h4>
								<!-- <p class="arrival-product-price">$120.00</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/s6.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="sale bg-1">
										<p>sale</p>
									</div> -->
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Ponds</a></h4>
								<!-- <p class="arrival-product-price">$140.00</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/s4.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="sale bg-2">
										<p>sale</p>
									</div> -->
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Surf Excel</a></h4>
								<!-- <p class="arrival-product-price">$90.00</p> -->
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);">
								<div class="single-new-arrival-bg">
									<img src="assets/images/slider/s11.jpg" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									<!-- <div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<a href="#">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div> -->
								</div>
								<h4><a href="#">Pears</a></h4>
								<!-- <p class="arrival-product-price">$140.00</p> -->
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->
		
		</section><!--/.new-arrivals-->
		<!--new-arrivals end -->

		<!--sofa-collection start -->
		<!-- <section id="sofa-collection">
			<div class="owl-carousel owl-theme" id="collection-carousel">
				<div class="sofa-collection collectionbg1">
					<div class="container">
						<div class="sofa-collection-txt">
							<h2>unlimited sofa collection</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							</p>
							<div class="sofa-collection-price">
								<h4>strting from <span>$ 199</span></h4>
							</div>
							<button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='#'">
								view more
							</button>
						</div>
					</div>	
				</div>
				<div class="sofa-collection collectionbg2">
					<div class="container">
						<div class="sofa-collection-txt">
							<h2>unlimited dainning table collection</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							</p>
							<div class="sofa-collection-price">
								<h4>strting from <span>$ 299</span></h4>
							</div>
							<button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='#'">
								view more
							</button>
						</div>
					</div>
				</div>
			</div>

		</section>-->
		

		

		
	<!--newsletter strat -->
	<section id="contact"  class="newsletter">
		<div class="container">
			<div class="hm-footer-details">
				<div class="row">
					<div class=" col-md-3 col-sm-6 col-xs-12">
						<div class="hm-footer-widget">
							<div class="hm-foot-title">
								<h4 style="color: black;">Address</h4>
							</div><!--/.hm-foot-title-->
							<div class="hm-foot-menu">
								<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.7428932801195!2d73.92852651441953!3d18.54051718739741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1795376d805%3A0x5a4cb7bae9f96687!2sNana&#39;s%20Mart!5e0!3m2!1sen!2sin!4v1607939825900!5m2!1sen!2sin" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
								<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);padding: 12px;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.7428932801195!2d73.92852651441953!3d18.54051718739741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1795376d805%3A0x5a4cb7bae9f96687!2sNana&#39;s%20Mart!5e0!3m2!1sen!2sin!4v1607939825900!5m2!1sen!2sin" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
								</div>
							</div><!--/.hm-foot-menu-->
						</div><!--/.hm-footer-widget-->
					</div><!--/.col-->
				
					<div class=" col-md-3 col-sm-6 col-xs-12">
						<div class="hm-footer-widget">
							<div class="hm-foot-title">
								<!-- <h4>my accounts</h4> -->
							</div><!--/.hm-foot-title-->
							<div class="hm-foot-menu">
							
							</div><!--/.hm-foot-menu-->
						</div><!--/.hm-footer-widget-->
					</div><!--/.col-->
					<div class="col-md-2 col-sm-2  col-xs-2"></div>
					<div class=" col-md-4 col-sm-6  col-xs-12">
						<div class="hm-footer-widget">
							<div class="hm-foot-title">
								<h4 style="color: black;">Contact Us</h4>
							</div><!--/.hm-foot-title-->
							<div class="hm-foot-para">
								<div class="single-new-arrival" style="background-color: #fff; box-shadow: 0 7px 21px rgba(0,0,0,.2);padding: 12px;">
									<div class="row">
										<div class="col-md-2">
										<span class="material-icons">call</span>&emsp;&emsp;
										</div>
										<div class="col-md-10">
									<b style="color: black !important;">Contact: 9527949910/7249808431</b>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
										<span class="material-icons">room</span>&emsp;&emsp;
										</div>
										<div class="col-md-10">
									<p style="color: black !important;">53, 58, Wadgaon Sheri - Sainath Nagar Rd, Sainath Nagar, Wadgaon Sheri, Pune, Maharashtra 411014</p>
										</div>
								</div>
								</div>
							</div><!--/.hm-foot-para-->

						</div><!--/.hm-footer-widget-->
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.hm-footer-details-->

		</div><!--/.container-->

	</section><!--/newsletter-->
		<!--newsletter end -->

		<!--footer start-->
		<!-- <footer id="footer"  class="footer">
			<div class="container">
				<div class="hm-footer-copyright text-center">
					<div class="footer-social">
						<a href="#"><i class="fa fa-facebook"></i></a>	
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>	
					</div>
				
				</div>
			</div>

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div>
			
        </footer> -->
		
		

	</form>
    </body>
	
</html>