<form class="pagefont" [formGroup]="stockForm" autocomplete="off">
    <!-- <mat-card class=" matcard "> -->
    <div class="col-md-12" class="breadcrumbstyle">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/layout">
                    <mat-icon>home</mat-icon>&nbsp;Home
                </li>
                <li class="breadcrumb-item" routerLink="/master/stock">Stock</li>
            </ol>
        </nav>
    </div>
    <!-- </mat-card> -->
    <mat-card class=" matcard ">
        <div class=" container titles  ">
            <br>
            <div class="row">
                <div class="col-md 12 ">
                    <h4 class="heading"><b>Stock Master</b></h4>
                </div>
            </div>
            <br>
            <!-- <hr class="hrstyle"> -->
            <div class="row">
                <div class="form-group col-md-3 example-full-width">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="stockForm" >
                        <mat-label>Product Name</mat-label>
                        <mat-select matInput [(ngModel)]="stockModel.productId" formControlName="productId">
                            <mat-option>Select Product</mat-option>
                            <mat-option *ngFor="let product of productActiveList" [value]="product.productId
                            ">
                                {{product.productName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="stockForm.get('productId').hasError('required') && stockForm.get('productId').touched">
                            Product Name is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-3 ">
                    <mat-form-field class="example-full-width " appearance="outline" [formGroup]="stockForm" >
                        <mat-label class="">Stock</mat-label>
                        <input matInput placeholder="Stock" [(ngModel)]="stockModel.stock"
                            formControlName="stock" onkeypress='return event.charCode>=48 && event.charCode <=57'>
                        <mat-error
                            *ngIf="stockForm.get('stock').hasError('required') && stockForm.get('stock').touched">
                            Stock is required</mat-error>
                        <mat-error
                            *ngIf="stockForm.get('stock').hasError('pattern') && stockForm.get('stock').touched">
                            Only characters are allowed</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-3">
                    <mat-form-field class="example-full-width " [formGroup]="stockForm" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="addStockDate"
                            [(ngModel)]="stockModel.addStockDate">
                        <mat-datepicker-toggle matSuffix [for]="picker" required></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                        *ngIf="stockForm.get('addStockDate').hasError('required') && stockForm.get('addStockDate').touched">
                        Date is required</mat-error>
                </div>

                <!-- <div class="form-group col-md-3 ">
                    <mat-form-field class="example-full-width" appearance="outline" [formGroup]="stockForm" > 
                        <mat-label>Status</mat-label>
                        <mat-select matInput [(ngModel)]="stockModel.status"  formControlName="status">
                            <mat-option>Select Status</mat-option>
                            <mat-option value="Added">Added</mat-option>
                            <mat-option value="Notadded">Notadded</mat-option>

                        </mat-select>
                        <mat-error
                            *ngIf="stockForm.get('status').hasError('required') && stockForm.get('status').touched">
                            Status is required</mat-error>
                    </mat-form-field>

                </div> -->

            </div>
           
        </div>

        <div class="row">
            <div class=" col-md-5"></div>
            <div class="form-group col-md-2 submitbuttons ">
                <button type="submit" class="btn btn-primary   buttons" [disabled]="!stockForm.valid" (click)="addStockDetails()">Submit</button>

            </div>
            <!-- <div class="form-group col-md-2 submitbuttons">
                    <button  type="submit"  class="btn btn-danger  buttons">Cancel</button> 
                   
                </div> -->
            <div class=" col-md-4"></div>

        </div>

        <br>

    </mat-card>


    <mat-card class=" matcard ">
        <div class="row">
  <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search Stock Details" #input>
          </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-7 form-group">
          <button type="submit" class=" excelbutton" matTooltip=".xlsx" style="float:right" (click)="exportToExcel()"
          ><i class="fa fa-file-excel-o"
          aria-hidden="true">&nbsp; &nbsp;<b>Export</b></i>
          </button>
          </div>
    </div>

    
        <div class="row">
            <div class="table-responsive" #epltable>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles"  >

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element; index as i;"> {{ i + 1 }} </td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="categoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>

                <!-- sub-category Column -->
                <ng-container matColumnDef="subcategoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                </ng-container>

                <!-- brand Column -->
                <ng-container matColumnDef="brandname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.addStockDate| date:'dd-MM-yyyy'}} </td>
                </ng-container>

               
                <!-- <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container> -->
<!-- 
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-dark"
                            title="Edit Rolemaster" (click)=" getProductById(element)">
                            <i class="fa fa-pencil-square-o"></i>
                        </button></td>
                </ng-container> -->


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
            </mat-paginator> -->
        </div>
    </mat-card>
</form>