<body>
  <div class="container">
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 topmargin">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="loginForm" >
  <h1 class="heading">Login</h1>
  
  <div class="mb-4">
  <label class="block text-sm font-bold mb-2" style="color: black;" for="username" name="mobileNumber">
  Username
  </label>
  <input class="form-control appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" [(ngModel)]="emploginModel.mobileNumber" formControlName="mobileNumber" type="text" placeholder="Enter Mobile Number" minlength="10" maxlength="10" pattern="[789][0-9]{9}">
  <mat-error
  *ngIf="loginForm.get('mobileNumber').hasError('required') && loginForm.get('mobileNumber').touched">
  Mobile Number is required</mat-error>
  <mat-error *ngIf="loginForm.get('mobileNumber').hasError('pattern') && loginForm.get('mobileNumber').touched">
  Only numbers are allowed</mat-error>
  </div>
  <div class="mb-6">
  <label class="block text-sm font-bold mb-2" style="color: black;" for="password" name="empPassword">
  Password
  </label>
  <input class="form-control appearance-none border border-red-500 rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" [(ngModel)]="emploginModel.empPassword" formControlName="empPassword" id="password" type="password" placeholder="Enter Password">
  </div>
  <!-- <div class="form-group">
  <i class="fa fa-lock"></i><input type="password" [(ngModel)]="emploginModel.empPassword" [type]="fieldTextType ? 'text' : 'password'" class="form-control" name="empPassword" placeholder="Password" required>
  <i class="fa" style="float: right; margin-left: 87%;" [ngClass]="{ 'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
  
  </div> -->
  
  
  <div class="row">
  <div class="col-md-6">
  <!-- <button class="" type="button" (click)="Login()">
  Sign In
  </button> -->
  <button type="submit" class="btn text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="Login()">Sign In
  <i class="fa fa-spinner fa-spin" *ngIf="showSpinner == true" ></i>
  
  </button>
  </div>
  <div class="col-md-6">
  <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="login/forgotpsw">
  Forgot Password?
  </a>
  </div>
  </div>
  </form>
  </div>
  <div class="col-md-3"></div>
  
  </div>
  </div>
  </body>