body{
    background-image: url("/assets/bg.jpg");
    background-repeat: no-repeat;
}
.topmargin
{
    margin: 76px;
}
.heading
{
    text-align: center;font-family: cursive;font-size: 23px;color: black;margin-bottom: 3px;
}
/* form{
    background-image: linear-gradient(200deg, #0e0e1e  77%, white 23%);
    border: 1px solid; 
  box-shadow: 5px 10px #888888;
} */
.btn{
    background-color: teal ;
}
.btn:hover{
    background-color: rgb(11, 71, 71) ;

}
input{
    width: 80%;
}